<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msvalidate.01" content="028DD45A8309143DDE8DAFDD41945FE6" />
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
<meta name="theme-color" content="#000000">
<title>Creating Custom Filters in AngularJS - www.initgrep.com  </title>
<meta itemprop="description" name="description" content="Filters are one of the AngularJS features which help in filtering or formatting the data for the end user" />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="Creating Custom Filters in AngularJS">
<meta property="og:url" content="http://localhost:4000/posts/javascript/angularjs/Creating-custom-filters-in-angularjs">
<meta property="og:image" content="http://localhost:4000/assets/images/ngfilter2.jpg" />
<meta property="og:site_name" content="www.initgrep.com">
<meta property="article:publisher" content="http://www.facebook.com/initgrep" />
<meta property="article:author" content="https://www.facebook.com/irshsheikh" />
<meta property="article:published_time" content="2018-06-26 00:00:00 +0530" />
<meta property="og:description" content="Filters are one of the AngularJS features which help in filtering or formatting the data for the end user">
<link rel="canonical" href="http://localhost:4000/posts/javascript/angularjs/Creating-custom-filters-in-angularjs" />

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@initgrep" />
<meta name="twitter:creator" content="@imshykh">
<meta name="twitter:title" content="Creating Custom Filters in AngularJS - www.initgrep.com  ">
<meta name="twitter:description" content="Filters are one of the AngularJS features which help in filtering or formatting the data for the end user">
<meta name="twitter:image" content="http://localhost:4000/assets/images/ngfilter2.jpg">

<meta name="google-site-verification" content="" />

<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "BlogPosting",
"headline": "Creating Custom Filters in AngularJS - www.initgrep.com  ",
"image": "http://localhost:4000/assets/images/ngfilter2.jpg",
"datePublished": "2018-06-26 00:00:00 +0530",
"description": "Filters are one of the AngularJS features which help in filtering or formatting the data for the end user",
"publisher": {"@type": "Organization",
"logo": {"@type": "ImageObject",
"url": "http://localhost:4000/assets/images/ngfilter2.jpg",
"url": "http://localhost:4000/posts/javascript/angularjs/Creating-custom-filters-in-angularjs"}
</script>



<!--[if lt IE 9]>
<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/assets/css/main.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#333"
    },
    "button": {
      "background": "#333333"
    }
  },
  "position": "bottom-right",
  "content": {
    "message": "Hey there, Thank you for visiting by...\n\n\n <b>initgrep.com</b> uses cookies to ensure you get the best experience.",
    "link": "check our privacy policy",
    "href": "https://www.freeprivacypolicy.com/privacy/view/45d4583efa7b94a6561a193611ee4104"
  }
})});
</script>
</head>
<body> 
 <!--- nav content -->   

<div class="navbar-fixed" id="top" >
    <nav class=" white lighten-2 " id ="check_nav" role="navigation" style=" box-shadow: 0 0 1px 0 #DEDADA;">
    <div class="nav-wrapper">

      <a id="logo-container" href="/" 
      class="brand-logo  
black-text

 ">initgrep</a>
      <ul class=" nav_menu right hide-on-med-and-down">
       <li><a class="black-text" id="nav_search"><i class="material-icons">search</i></a></li>
      	<li><a class="pt-sans-bold 
black-text

" href="/about">About</a></li>
         <li><a class=" pt-sans-bold 
black-text

" href="/posts" >Posts<i class="material-icons right">more_vert</i></a></li>

      </ul>

      <!--side menu -->
      <ul id="slide-out" class="side-nav ">
        
        <li>
              <div class="background 

black
">
                  <a href="/"><span class="white-text  pacifo-L">initgrep</span></a>
                  <a id="sidenav_search" class="btn-floating btn-large waves-effect waves-light blue-grey"><i class="material-icons">search</i></a>
              </div> 
        </li>
      <li style="margin-top: 1rem; height: 20px;"></li>
        
         <li>
          <a class=" 
black-text

 " href="/posts/">
            <i class=" material-icons receipt"></i>Posts
          </a>
        </li>
        <li><div class="divider"></div></li>
        <li>
          <a class=" 
black-text

" href="/about">
            <i class=" material-icons android">android</i>About
          </a>
        </li>

      </ul>
      <a href="#" data-activates="slide-out" class=" side_menu button-collapse 
black-text

 show-on-large"><i class="material-icons">sort</i></a>
    </div>
    
  </nav>
</div>


<div class="section ">

  <div class="row ">
    <div class="col l4 s12 m8 xl4 offset-m2 hide-on-med-and-down">
       

<div class="section toc-wrapper">

     
    <h1 class="toc-heading pt-sans-bold"> Table of Contents </h1>
    <dl class="toc">
                               
        <dt>
            
            <a class="teal-text text-darken-3 pt-sans " href="/posts/javascript/angularjs/Creating-custom-filters-in-angularjs">
                Creating Custom Filters in AngularJS
            </a>
            
        </dt>
                 
        <dt>
            
            <a class="black-text pt-sans" href="/posts/javascript/angularjs/Understanding-AngularJS-Directives"> Understanding AngularJS Directives
            </a>
            
        </dt>
             
        <dt>
            
            <a class="black-text pt-sans" href="/posts/javascript/angularjs/Angularjs-api-to-register-directives-directive-definition-object"> API for registering directive- Directive Definition Object
            </a>
            
        </dt>
             
        <dt>
            
            <a class="black-text pt-sans" href="/posts/javascript/angularjs/AngularJs-Directive-compile-link-functions"> AngularJs Directive - compile and link function
            </a>
            
        </dt>
             
        <dt>
            
            <a class="black-text pt-sans" href="/posts/javascript/angularjs/How-to-use-directive-multielement-option"> How to implement multielement directives
            </a>
            
        </dt>
                  
    </dl>
</div>

      
    </div>
    <div class="col s12 m8 l8 xl8 offset-m2 ">

      <!-- author -->
      <div class="row" style="margin-bottom: 0px;">
        <div class="col s12 m10 l0 xl12  ">
          <div class="row " style="margin-bottom: 0px;">
            <div class="col s12 m8 l6 xl6 ">
              <div class="row">
                <div class="col s4 m4 l3 xl2  ">
                  








  <img class="user " src="/assets/images/pp.jpeg">





                </div>
                <div class="col s6 m8 l8 xl10  margin-top-1 ">
                  <a href="/about/sheikh irshad" class="grey-text  pt-sans-bold author" style="display: block; text-transform: capitalize;">
                    sheikh irshad
                  </a>
                  <a class="grey-text pt-sans datetime ">June 26, 2018</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4 l6 xl2 hide-on-small-only  ">
              <div class="col s12 m12 l12 right  margin-top-2 ">
                <span class="grey-text right pt-sans-bold readtime">
                  

  12 mins
 read
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- author -->

      <div class="row content" style="padding-top: 0px;">
        <div class="col s12 m12 l10 xl8 ">
          <h2 class="valign post-head center black-text pt-sans-bold">Creating Custom Filters in AngularJS</h2>
        </div>
        <div class=" content-text col s12 m12 l10 xl8 "><p>Filters are one of the AngularJS features which help in filtering or formatting the data for the end user.
There are a number of built-in filters such as <code class="highlighter-rouge">filter</code>, <code class="highlighter-rouge">currency</code>. <a href="https://docs.angularjs.org/api/ng/filter">Built-in-filters</a> section in AngularJs documentation has a complete list.</p>

<p>A sample usage of Filters in view templates is as below:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code>{{ expression | filter:argument1:argument2:...  }}
</code></pre></div></div>

<p><code class="highlighter-rouge">expression</code> is a valid JavaScript expression. Filter is separated with  pipe(<code class="highlighter-rouge">|</code>) symbol and can have one or more arguments separated by a colon(<code class="highlighter-rouge">:</code>).</p>

<p>We can use Filters in the Controllers, Services or Directives as well. I will explain it a little later…</p>

<p>Let’s begin with a simple filter example.</p>

<div class="language-js highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c1">// _.js</span>
<span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'customFilterApp'</span><span class="p">,</span> <span class="p">[])</span>
<span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'MainCtrl'</span><span class="p">,[</span><span class="s2">"$scope"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">name</span> <span class="o">=</span> <span class="s1">'hello'</span><span class="p">;</span>
<span class="p">}])</span>
<span class="p">.</span><span class="nx">filter</span><span class="p">(</span><span class="s1">'initcaps'</span><span class="p">,</span><span class="kd">function</span><span class="p">(){</span>
  <span class="kd">var</span> <span class="nx">initcaps</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">value</span><span class="p">){</span>
    <span class="k">return</span> <span class="nx">value</span><span class="p">.</span><span class="nx">charAt</span><span class="p">(</span><span class="mi">0</span><span class="p">).</span><span class="nx">toUpperCase</span><span class="p">()</span><span class="o">+</span><span class="nx">value</span><span class="p">.</span><span class="nx">slice</span><span class="p">(</span><span class="mi">1</span><span class="p">);</span>
  <span class="p">}</span>
  <span class="k">return</span> <span class="nx">initcaps</span><span class="p">;</span>
<span class="p">});</span>
</code></pre></div></div>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- _.html --&gt;</span>
  <span class="nt">&lt;body</span> <span class="na">ng-app=</span><span class="s">"customFilterApp"</span> <span class="na">ng-cloak</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">"MainCtrl"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h1&gt;</span>initcaps {{ name | initcaps }}<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
</code></pre></div></div>

<p>I have created an AngularJs module <code class="highlighter-rouge">customFilterApp</code> with a controller registered as  <code class="highlighter-rouge">MainCtrl</code>. I have also added a variable <code class="highlighter-rouge">name</code> to the controller’s scope.</p>

<blockquote>
  <p>To register a filter, you have to add a factory function which returns a new filter function. 
The filter function should follow below rules:</p>
  <ol>
    <li>
      <p>It has to be a <code class="highlighter-rouge">pure function</code>. i.e. For the same input, the result output returned should always be the same.</p>
    </li>
    <li>
      <p>The filter function takes the input value as the first argument. It can have additional arguments also.</p>

      <div class="language-js highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">app</span><span class="p">.</span><span class="nx">filter</span><span class="p">(</span><span class="s1">'filter-name'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
  <span class="k">return</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
    <span class="k">return</span><span class="p">;</span>
  <span class="p">};</span>
<span class="p">});</span>
</code></pre></div>      </div>
    </li>
    <li>
      <p>It should not change the external state.</p>
    </li>
    <li>
      <p>Filters should be valid AngularJs Expression identifiers such as <code class="highlighter-rouge">uppercase</code> or <code class="highlighter-rouge">orderBy</code>. Names with special characters, such as hyphens and dots, are not allowed.</p>
    </li>
  </ol>
</blockquote>

<p>Before we move ahead, let me briefly explain a few core concepts.</p>

<h5 id="digest-cycle">Digest Cycle:</h5>

<p><a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$digest">Digest Cycle</a> is AngularJS way of tracking each change in the scope and updating the template views and vice versa. Scope at its core is a set of key-value pairs of data. AngularJS registers <a href="https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$watch">watchers</a> on each of the scope value. The value could be a primitive or <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_Objects">Javascript object</a>. When a Digest Cycle is initiated, all the watchers are called. If the value has changed since the last Digest cycle, the listener functions are run to update the corresponding expressions where the values are used.</p>

<h5 id="interpolation">Interpolation:</h5>

<p><a href="https://docs.angularjs.org/guide/interpolation">Interpolation</a> expressions such as <code class="highlighter-rouge">{{ an-expression }}</code> is used to provide two-way data binding for text nodes or attribute values of DOM. During the compilation process, text nodes and attribute values are scanned by <code class="highlighter-rouge">$compile</code>  service. If the interpolation is found, <code class="highlighter-rouge">InterpolationDirective</code> is added to the node and an Interpolation function is computed. After that <code class="highlighter-rouge">watchers</code>  are added to the computed function. During the <code class="highlighter-rouge">Digest Cycle</code>, these watches are used to update the corresponding text nodes or attribute value.</p>

<p>I hope that was clear enough.</p>

<p>Let’s get Back to Filters…</p>

<h5 id="filter-execution">Filter execution:</h5>

<p>Since filter functions are <a href="https://en.wikipedia.org/wiki/Pure_function">pure functions</a>.  AngularJs depends on this contract during the digest cycle.</p>
<ol>
  <li>If the value is primitive, Filters in templates are executed only when the input has changed.</li>
  <li>If the value is Object or the filters are registered as stateful, Filters are executed on every digest.</li>
</ol>

<h5 id="stateful-filters">Stateful filters</h5>

<p>Stateful filters depend on the external state. If the external state changes, the result returned for the same input to filter function might vary. As a result, the filter is executed one or more times during the Digest Cycle. It is recommended to avoid stateful filter.</p>

<div class="language-js highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c1">//_.js</span>
<span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'customFilterApp'</span><span class="p">,</span> <span class="p">[])</span>
<span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'MainCtrl'</span><span class="p">,[</span><span class="s2">"$scope"</span><span class="p">,</span><span class="s2">"position"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">,</span><span class="nx">position</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">name</span> <span class="o">=</span> <span class="s1">'hellothere'</span><span class="p">;</span>
  <span class="nx">$scope</span><span class="p">.</span><span class="nx">position</span> <span class="o">=</span> <span class="nx">position</span><span class="p">;</span>
<span class="p">}])</span>
<span class="p">.</span><span class="nx">filter</span><span class="p">(</span><span class="s1">'anycaps'</span><span class="p">,[</span><span class="s1">'position'</span><span class="p">,</span><span class="kd">function</span><span class="p">(</span><span class="nx">position</span><span class="p">){</span>
  <span class="kd">var</span> <span class="nx">anycapsFilter</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">value</span><span class="p">){</span>
    <span class="kd">var</span> <span class="nx">pos</span> <span class="o">=</span> <span class="nx">position</span><span class="p">.</span><span class="nx">val</span><span class="p">;</span>
    <span class="k">return</span> <span class="nx">value</span><span class="p">.</span><span class="nx">substring</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="nx">pos</span><span class="p">)</span>
        <span class="o">+</span><span class="nx">value</span><span class="p">.</span><span class="nx">charAt</span><span class="p">(</span><span class="nx">pos</span><span class="p">).</span><span class="nx">toUpperCase</span><span class="p">()</span>
        <span class="o">+</span><span class="nx">value</span><span class="p">.</span><span class="nx">substring</span><span class="p">(</span><span class="nb">parseInt</span><span class="p">(</span><span class="nx">pos</span><span class="p">)</span><span class="o">+</span><span class="mi">1</span><span class="p">,</span><span class="nx">value</span><span class="p">.</span><span class="nx">length</span><span class="p">);</span>
  <span class="p">}</span>
  <span class="nx">anycapsFilter</span><span class="p">.</span><span class="nx">$stateful</span> <span class="o">=</span> <span class="kc">true</span><span class="p">;</span>
  <span class="k">return</span> <span class="nx">anycapsFilter</span><span class="p">;</span>
<span class="p">}])</span>
<span class="p">.</span><span class="nx">value</span><span class="p">(</span><span class="s1">'position'</span><span class="p">,{</span><span class="na">val</span><span class="p">:</span><span class="mi">0</span><span class="p">});</span>
</code></pre></div></div>
<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">&lt;!-- _.html --&gt;</span>

 <span class="nt">&lt;body</span> <span class="na">ng-app=</span><span class="s">"customFilterApp"</span> <span class="na">ng-cloak</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">"MainCtrl"</span><span class="nt">&gt;</span>
      caps position: <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">ng-model=</span><span class="s">"position.val"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;h1&gt;</span>anycaps {{ name | anycaps }}<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/body&gt;</span>
</code></pre></div></div>

<p>I have created a stateful filter above. It is dependent on a value service to fetch the position. It is also registered as stateful. The code points are explained below.</p>

<h5 id="_js-">_.js :</h5>

<p><code class="highlighter-rouge">position</code> is a value service. It stores the position. <code class="highlighter-rouge">anycaps</code> is the filter name. It returns a filter function which in turn returns a string with any given character(in UPPERCASE). The filter is registered as stateful by adding <code class="highlighter-rouge">anycapsFilter.$stateful = true;</code>.  It means the filter will be executed one or more times during the Digest cycle. <code class="highlighter-rouge">position</code> service is injected as a dependency to the filter. The filter function uses the <code class="highlighter-rouge">val</code> attribute to get the position.</p>

<h5 id="_html-">_.html :</h5>

<p><code class="highlighter-rouge">position.val</code> is binded to the value of <code class="highlighter-rouge">input</code> element as <code class="highlighter-rouge">&lt;input type="text" ng-model="position.val"&gt;</code>. As the value changes, the filter gets executed.to</p>

<p>It might not be easy to figure out the difference as much from the code. But once you put some log statements and keep changing the input, you would notice the execution cycles are much higher for the stateful filter. During the execution, I noticed for every input change, Stateless filter gets called only once but Stateful filter gets called twice.</p>

<h5 id="filters-usage-in-controllers">Filters usage in Controllers</h5>

<div class="language-js highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nx">angular</span>
  <span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'customFilterApp'</span><span class="p">,</span> <span class="p">[])</span>
    <span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'MainCtrl'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'$scope'</span><span class="p">,</span> <span class="s1">'initcapsFilter'</span><span class="p">,</span>  				                 <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">,</span> <span class="nx">initcapsFilter</span><span class="p">)</span> <span class="p">{</span>
          <span class="nx">$scope</span><span class="p">.</span><span class="nx">name</span> <span class="o">=</span> <span class="s1">'hello'</span><span class="p">;</span>
          <span class="nx">$scope</span><span class="p">.</span><span class="nx">internalName</span> <span class="o">=</span> <span class="nx">initcapsFilter</span><span class="p">(</span><span class="nx">$scope</span><span class="p">.</span><span class="nx">name</span><span class="p">,</span><span class="mi">3</span><span class="p">);</span>
          <span class="nx">$scope</span><span class="p">.</span><span class="nx">position</span> <span class="o">=</span> <span class="nx">position</span><span class="p">;</span>
    <span class="p">},</span>
  <span class="p">])</span>
  <span class="p">.</span><span class="nx">filter</span><span class="p">(</span><span class="s1">'initcaps'</span><span class="p">,</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">initcapsFilter</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">value</span><span class="p">,</span> <span class="nx">pos</span><span class="p">)</span> <span class="p">{</span>
      <span class="k">return</span> <span class="p">(</span>
        <span class="nx">value</span><span class="p">.</span><span class="nx">substring</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="nx">pos</span><span class="p">)</span> <span class="o">+</span>
        <span class="nx">value</span><span class="p">.</span><span class="nx">charAt</span><span class="p">(</span><span class="nx">pos</span><span class="p">).</span><span class="nx">toUpperCase</span><span class="p">()</span> <span class="o">+</span>
        <span class="nx">value</span><span class="p">.</span><span class="nx">substring</span><span class="p">(</span><span class="nb">parseInt</span><span class="p">(</span><span class="nx">pos</span><span class="p">)</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="nx">value</span><span class="p">.</span><span class="nx">length</span><span class="p">)</span>
      <span class="p">);</span>
    <span class="p">};</span>
    <span class="k">return</span> <span class="nx">initcapsFilter</span><span class="p">;</span>
  <span class="p">})</span>
</code></pre></div></div>

<p>Custom filters can be passed as dependency much like services. You need to prepend Filter at the end of filter name. i.e. <code class="highlighter-rouge">initcaps</code> filter will be passed as <code class="highlighter-rouge">initcapsFilter</code> as the dependency.  AngularJs takes care of the rest of the <a href="https://docs.angularjs.org/guide/di">dependency management</a> and the filter function is passed as a parameter. It can further be used as a normal JavaScript function.</p>

<p>You can check the <a href="https://next.plnkr.co/edit/rxGiA5vpJoB9YuTJ?preview">Create-Custom-filters </a> plunker for the details…</p>

</div>
      </div>
      <div class="row">
        <div class="col s12 m12 hide-on-large-only">
           

<div class="section toc-bottom-wrapper">

      <!-- | reverse -->
    <h1 class=" pt-sans-bold"> Table of contents - <span>angularjs <span></h1>
    <ul class="toc-bottom">
                               
        <li>
            
            <a class="teal-text text-darken-3 pt-sans-bold " href="/posts/javascript/angularjs/Creating-custom-filters-in-angularjs">
                Creating Custom Filters in AngularJS
            </a>
            
        </li>
                 
        <li>
            
            <a class="black-text pt-sans-bold" href="/posts/javascript/angularjs/Understanding-AngularJS-Directives"> Understanding AngularJS Directives
            </a>
            
        </li>
             
        <li>
            
            <a class="black-text pt-sans-bold" href="/posts/javascript/angularjs/Angularjs-api-to-register-directives-directive-definition-object"> API for registering directive- Directive Definition Object
            </a>
            
        </li>
             
        <li>
            
            <a class="black-text pt-sans-bold" href="/posts/javascript/angularjs/AngularJs-Directive-compile-link-functions"> AngularJs Directive - compile and link function
            </a>
            
        </li>
             
        <li>
            
            <a class="black-text pt-sans-bold" href="/posts/javascript/angularjs/How-to-use-directive-multielement-option"> How to implement multielement directives
            </a>
            
        </li>
                  
    </ul>
</div>
        </div>
      </div>
      <!-- comments -->
      <div class="row">
        <div class=" col s12 m12 l10"> <div class="content">
<p>Please feel free to pass your feedback in the comments. Thank you for stopping by.</p>

</div>



<div id="disqus_thread"></div>
<script>
var PAGE_URL = "https://www.initgrep.com//posts/javascript/angularjs/Creating-custom-filters-in-angularjs"; 
var PAGE_IDENTIFIER = "/posts/javascript/angularjs/Creating-custom-filters-in-angularjs"
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-initgrep-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



</div>
      </div>
      <!-- end -->
    </div>

  </div>

 
  <div id="search">
    <div class="section">
       <div class="row">
         <div class="col s12 m12">
          <a class=" close btn-floating waves-effect waves-light btn-small black right ">
              <i class="large material-icons">close</i>
          </a>
         </div>
       </div> 
       <div class="row">
        <div class="input-field col s12 m8 offset-m2">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate doSearch" >
          <label for="icon_prefix">Search</label>
        </div>
    </div>
  <div class="row  ">
    <div class=" container ">
       <div class="row searchContainer ">
        
      </div>
    </div>

  </div>

   </div> 
</div>

<footer class="page-footer white" id="">
        
    <div class="footer-copyright">
      <div class="container">
       <a class="blue-grey-text " href="/about/sheikh irshad">Made with <i class="material-icons teal-text lighten-4">favorite</i> by me</a>
      </div>
    </div>
  </footer>

 <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/js/properties.js"></script> 
<script type="text/javascript" src="/assets/js/init.js"></script> 
<script type="text/javascript" src="/assets/js/lunr.min.js"></script> 
<script type="text/javascript" src="/assets/js/data.js"></script>       
<script id="dsq-count-scr" src="//www-initgrep-com.disqus.com/count.js" async></script>




</body>
</html>