<!-- techbanner content -->
  <div id="index-banner" class=" {% include util/sideColor.liquid %}">
    <div class="section ">
      
          <div class="container ">
          
                   {% for page in site.softwareCollection limit:1 %}
                   <div class="row padding-top-2 padding-bot-1 border-bottom-dotted">
                   <span class="teal-text  date-text">Recent in Software</span>
                    <span class="teal-text right pt-sans-bold datetime">{{page.date | date: '%B %d, %Y'}}</span>
                    <span class="teal-text right pt-sans-bold" style="padding-right: 2rem;">{{page.author | uppercase}}</span>
                   </div>
                   <div class="row">
          <div class="col s12 m12 recent-article">
            <div class="icon-block">

              <a href ="{{site.baseurl}}{{page.url}}" class="title pt-sans-bold  black-text ">{{page.title}}</a>

              <p class=" black-text margin-top-2 pt-sans font-2">{{page.meta}} 
               <a href ="{{site.baseurl}}{{page.url}}" class="teal-text" > ... read more </a>
              
              </p>

            </div>
          </div>
                      </div>
          {% endfor %}
        
        </div>
      </div>
   </div>
    