$c-bg: #fc456b1f;
$c-icon-color: #fc456bfc;
$c-bg-black: #212529;
$letter-sapacing: 0.05rem;

//search Start
.search-component {
  input.form-control {
    border-radius: 40px !important;
    background: transparent;
    padding-right: 50px;
    background: transparent;
    border-color: $c-bg;
    color: $c-icon-color;
    border-width: 2px;
    font-family: "Roboto", sans-serif;

    &::placeholder {
      color: $c-icon-color;
    }
    &:-ms-input-placeholder {
      color: $c-icon-color;
    }
    &::-ms-input-placeholder {
      color: $c-icon-color;
    }
  }
  div.input-group-append {
    span.input-group-text {
      // border-radius: 0 50% 50% 0;
      border-width: 0px;
      background: transparent;
      margin-left: -45px;
      z-index: 1;

      i {
        color: $c-icon-color;
      }
    }
  }
}
//Search Component ENDS

//Menu Component Start
.menu-component {
  font-weight: 500 !important;
  position: fixed;
  ul.list-group {
    li.list-group-item {
      border-width: 0px;
      // border: 1px solid $c-bg;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      color: $c-icon-color !important;
      // font-size: 1.1rem;
      &:hover {
        background: $c-bg;
        a {
          color: $c-icon-color;
        }
      }
      &.active {
        background: $c-bg;
        a {
          color: $c-icon-color;
        }
      }
      a {
        &:hover {
          text-decoration: none;
        }
        i {
          // font-size: 1.2rem;
        }
        span {
          letter-spacing: $letter-sapacing;
        }
      }
    }
  }
}
@include media-breakpoint-up(xs) {
  .menu-component {
    position: relative;
    overflow-x: scroll;
    font-size: 0.8rem;
    ul.list-group {
      flex-direction: row;
      li.list-group-item {
        padding-left:0px;
        padding-right: 0px;
        padding:10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        background: transparent;
        
        &:hover {
          background-color: transparent;
          a {
            color: $c-icon-color;
          }
        }
        &.active {
          background: transparent;
          a {
            color: $c-icon-color;
          }
        }

        a {
          // border:1px solid blue;
          transition: all .2s linear;
          display: block;
         i{
            display: block;
            font-size: 2rem;
            margin-right: auto;
            margin-left: 25%;
          }
          span {
            display: block;
            padding-left: 5px;
            // border:1px solid red;
            // width: 100px;
            
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .menu-component {
    ul.list-group {
      li.list-group-item {
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .menu-component {
    ul.list-group {
      li.list-group-item {
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .menu-component {
    position: fixed;
    overflow: auto;
    font-size: 1rem;
    ul.list-group {
      flex-direction: column;
      margin-left: 0rem;
      li.list-group-item {
        position: relative;
        display: block;
        padding-left:0px;
        padding-right: 0px;
        padding:.6rem;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-left: 15%;

        &:hover {
          background-color: $c-bg;
          a {
            color: $c-icon-color;
          }
        }
        &.active {
          background: $c-bg;
          a {
            color: $c-icon-color;
          }
        }
        a {
          // border:1px solid blue;
          transition: all .2s linear;
          display: inline;
         i{
            display: inline;
            font-size: 1.5rem;
            margin-right: auto;
            margin-left: auto;
          }
          span {
            display: inline;
            padding-left: 10px;
            
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .menu-component {
    ul.list-group {
      li.list-group-item {
      }
    }
  }
}

//Menu Component Ends

//Content component start

.content-component {
  left: 25%;
}

@include media-breakpoint-up(xs) {
  .content-component {
    left: 0px;
  }
}
@include media-breakpoint-up(sm) {
  .content-component {
  }
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
  .content-component {
    left: 25%;
  }
}
@include media-breakpoint-up(xl) {
 
}

//content component ends
