$c-bg: #fc456b1f;
$c-icon-color: #da1e43fc;
$c-bg-black: #212529;
$c-color-black: #433e3f;
$letter-sapacing: 0.05rem;
$mute-color: #6c757d;
$white-color: #f1f1f1;
$pure-white: white;
$bg-overlay: rgba(122, 118, 118, 0.4);

//search Start

@include media-breakpoint-up(xs) {
  .search-component {
    display: none;
  }

  .search-wrapper {
    margin-right: 20px;
    margin: 5px;
    span {
      border: 2px solid $c-icon-color;
      border-radius: 10px;
      padding: 10px;

      i {
        font-size: 1rem;
        color: $c-icon-color;
      }
    }

    &:hover {
      span {
        background: $c-icon-color;
        i {
          color: $white-color;
        }
      }

      .basic-overlay {
        display: flex;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0%;
        background: $bg-overlay;
        top: 0%;
        z-index: 1;
      }

      .search-overlay {
        display: block;
        position: fixed;
        width: 100%;
        height: 90%;
        left: 0%;
        background: $pure-white;
        top: 10%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        animation: slidein 2s linear;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px -1px 5px -2px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px -1px 5px -2px rgba(0, 0, 0, 0.65);
        box-shadow: 0px -1px 5px -2px rgba(0, 0, 0, 0.65);
        z-index: 3;
      }
    }

    .search-overlay {
      display: none;
    }
    .basic-overlay {
      display: none;
    }
  }

  .setting-wrapper {
    margin-right: 20px;
    margin: 5px;
    span {
      border: 2px solid $c-icon-color;
      border-radius: 10px;
      padding: 10px;

      i {
        font-size: 1rem;
        transform: rotate(-90deg);
        color: $c-icon-color;
      }
    }

    &:hover,
    &:active {
      span {
        background: $c-icon-color;
        cursor: pointer;
        i {
          color: $white-color;
        }
      }
      .basic-overlay {
        display: flex;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0%;
        background: $bg-overlay;
        top: 0%;
        z-index: 1;
      }

      .setting-overlay {
        display: block;
        position: fixed;
        width: 100%;
        height: 40%;
        left: 0%;
        background: $pure-white;
        top: 60%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        animation: slidein 2s linear;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px -1px 5px -2px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px -1px 5px -2px rgba(0, 0, 0, 0.65);
        box-shadow: 0px -1px 5px -2px rgba(0, 0, 0, 0.65);
        z-index: 3;
      }
    }

    .setting-overlay {
      display: none;
    }
    .basic-overlay {
      display: none;
    }
  }
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
  .brand-component {
    position: fixed;
  }
  .search-col {
    left: 25%;
  }
  .search-component {
    display: flex;
    input.form-control {
      display: flex;
      border-radius: 10px !important;
      background: transparent;
      padding-right: 50px;
      background: transparent;
      border-color: $c-bg;
      color: $c-icon-color;
      border-width: 2px;
      font-family: "Roboto", sans-serif;
      box-shadow: 0px;

      &::placeholder {
        color: $c-icon-color;
      }
      &:-ms-input-placeholder {
        color: $c-icon-color;
      }
      &::-ms-input-placeholder {
        color: $c-icon-color;
      }
    }
    div.input-group-append {
      span.input-group-text {
        // border-radius: 0 50% 50% 0;
        border-width: 0px;
        background: transparent;
        margin-left: -45px;
        z-index: 1;

        i {
          color: $c-icon-color;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
}
//Search Component ENDS

//Menu Component Start
.menu-component {
  font-weight: 500 !important;
  // position: fixed;
  nav {
    ul.list-group {
      li.list-group-item {
        border-width: 0px;
        // border: 1px solid $c-bg;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: $c-icon-color !important;
        // font-size: 1.1rem;
        background: transparent;
        &:hover {
          background: $c-bg;
          a {
            color: $c-icon-color;
          }
        }
        &.active {
          background: $c-bg;
          a {
            color: $c-icon-color;
          }
        }
        a {
          &:hover {
            text-decoration: none;
          }
          i {
            // font-size: 1.2rem;
          }
          span {
            letter-spacing: $letter-sapacing;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xs) {
  .menu-component {
    position: relative;
    overflow-x: scroll;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    padding: 0.2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
    nav {
      ul.list-group {
        flex-direction: row;

        li.list-group-item {
          border-radius: 0px;
          padding: 0 0 0 0;
          padding-bottom: 5px;
          padding-top: 5px;
          margin-right: 10px;
          margin-left: 10px;

          a {
            transition: all 0.2s linear;
            display: block;
            width: auto;
            text-align: center;

            i {
              display: none;
            }
            span {
              display: block;
              text-align: center;
              text-transform: uppercase;
              font-weight: 400;
              line-height: 20px !important;
              letter-spacing: 0.05em !important;
            }
          }

          &:hover {
            background: transparent;
            border-bottom: 4px solid $c-icon-color;
            a {
              color: $c-icon-color;

              span {
                font-weight: 700;
              }
            }
          }
          &.active {
            background: transparent;
            border-bottom: 4px solid $c-icon-color;
            a {
              color: $c-icon-color;
              span {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    aside {
      display: none;
    }
  }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
  .menu-component {
    position: fixed;
    overflow: auto;
    font-size: 1rem;
    nav {
      ul.list-group {
        flex-direction: column;
        margin-left: 0rem;
        li.list-group-item {
          position: relative;
          display: block;
          padding-left: 0px;
          padding-right: 0px;
          padding: 0.6rem;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          margin-left: 15%;

          &:hover {
            background-color: $c-bg;
            border-bottom: 0px solid $c-icon-color;
            a {
              color: $c-icon-color;
            }
          }
          &:active {
            background-color: $c-bg;
            border-right: 2px solid $c-icon-color;
            border-bottom: 5px solid $c-icon-color;
            a {
              color: $c-icon-color;
            }
          }
          &.active {
            background: $c-bg;
            border-bottom: 4px solid $c-icon-color;
            a {
              color: $c-icon-color;
            }
          }
          a {
            // border:1px solid blue;
            transition: all 0.2s linear;
            display: inline;
            i {
              display: inline;
              font-size: 1.5rem;
              margin-right: auto;
              margin-left: auto;
            }
            span {
              display: inline;
              padding-left: 10px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    aside {
      display: block;
      border-top: 1px solid $c-bg;
      margin-top: 3rem;
      ul.setting-component {
        flex-direction: column;
        margin-left: 0rem;
        li.list-group-item {
          position: relative;
          display: block;
          padding-left: 0px;
          padding-right: 0px;
          padding: 0.6rem;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          margin-left: 15%;
          color: $c-bg-black;
          background: transparent;
          font-weight: 400;
          border-width: 0px;

          div.custom-control {
            .custom-control-input {
              &:checked {
                ~ .custom-control-label {
                  &:before {
                    border-color: $c-icon-color;
                    background: $c-icon-color;
                  }
                }
              }
            }
          }
        }
      }

      ul.social-component {
        position: absolute;
        flex-direction: row;
        top: 75%;
        width: 90%;
        border-top: 1px solid $c-bg;
        background: transparent;
        li.list-group-item {
          border-width: 0px;
          font-size: 1.4rem;
          background: transparent;

          a {
            &:hover {
              color: $c-icon-color;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
}

//Menu Component Ends

//Content component start

.content-component {
  left: 25%;
}

@include media-breakpoint-up(xs) {
  .content-component {
    left: 0px;
  }
}
@include media-breakpoint-up(sm) {
  .content-component {
  }
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
  .content-component {
    left: 25%;
  }
}
@include media-breakpoint-up(xl) {
}

//content component ends

//top card component start

@include media-breakpoint-up(xs) {
  .top-card {
    border-radius: 20px;
    background: transparent;
    // box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    // box-shadow: 0 0 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    img {
      height: 150px;
      object-fit: cover;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .card-body {
      .card-meta {
        letter-spacing: $letter-sapacing;
        color: $mute-color;
        a {
          text-decoration: none;
          small.text-user {
            font-weight: 500 !important;
            color: $mute-color;
          }
        }

        small.read-time {
          float: right;
        }
        small.text-filler {
          text-transform: lowercase;
        }
        small.text-category {
          text-transform: capitalize;
        }
      }
      h5 {
        color: $c-color-black;
      }
    }
  }
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
  .top-card {
    border-radius: 20px;
    border-color: #c7c9ca47;
    background: transparent;
    // box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    // box-shadow: 0 1px 1px rgba(154, 160, 185, 0.05), 0 2px 5px rgba(166, 173, 201, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    img {
      height: 250px;
      object-fit: cover;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .card-body {
      .card-meta {
        letter-spacing: $letter-sapacing;
        color: $mute-color;
        a {
          text-decoration: none;
          small.text-user {
            font-weight: 500 !important;
            color: $mute-color;
          }
        }

        small.read-time {
          float: right;
        }
        small.text-filler {
          text-transform: lowercase;
        }
        small.text-category {
          text-transform: capitalize;
        }
      }
      h5 {
        color: $c-color-black;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
}

/** TOP POST COMPONENT **/

@include media-breakpoint-up(xs) {
  .top-post-component {
    ul.list-group {
      margin-top: 2rem;
      li.list-group-item.top-heading {
        border:none;
        box-shadow: none;
        background: transparent;
       div.media{
         div.media-body{
           font-size:1.4rem;
           font-weight: 500;
           color:$c-icon-color;
           i{
             color:$c-icon-color;
             margin-right: .5rem;
             font-size: 2rem;
           }
           span{
             letter-spacing: $letter-sapacing;
           }
         }
       }

        
      }
      li.list-group-item {
        padding: 0 0 0 0;
        border-radius: 10px;
        margin-bottom: 1rem;
        border: 1px solid $c-bg;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        background: transparent;
        a {
          text-decoration: none;
          display: block;
          padding: 0.4rem;
          div.media {
            img {
              width: 72px;
              height: 72px;
              border-radius: 10px;
              margin-right: 0.6rem;
            }
            .media-body {
              h5{
                letter-spacing: $letter-sapacing;
                color:$c-icon-color;
                font-size: 1.1rem;
              }
              p {
                font-size: 0.8rem;
                margin: 0 0 0 0;
              }
            }
          }
        }
        &:hover {
          background: $c-bg;
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  .top-post-component {
    ul.list-group {
      margin-top: 0;
    }
  }
}
@include media-breakpoint-up(lg) {
  .top-post-component {
    ul.list-group {
      margin-top: 0;
      li.list-group-item.top-heading {
        border:none;
        box-shadow: none;
        background: transparent;

      }
      li.list-group-item {
        padding: 0 0 0 0;
        border-radius: 10px;
        margin-bottom: 1rem;
        border: 1px solid $c-bg;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        background: transparent;
        a {
          text-decoration: none;
          display: block;
          padding: 0.4rem;
          div.media {
            img {
              width: 72px;
              height: 72px;
              border-radius: 10px;
              margin-right: 0.6rem;
            }
            .media-body {
              p {
                font-size: 0.8rem;
                margin: 0 0 0 0;
              }
            }
          }
        }
        &:hover {
          background: $c-bg;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
}

/** TOP POST COMPONENT END **/
