
.sub-content-component{
  background: transparent;
  // border:1px solid red;
  div.app-card{
    border:1px solid $c-bg;
    position: relative;
    height: auto;
    overflow: auto;
    box-shadow: 0 1px 1px $shadow-color, 0 1px 1px $shadow-color;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    // min-height: 128px;
    // width: 100%;
    border-radius: 10px;
   div.app-card-poster{
      float:left;
      width: 140px;
      height: 100px;
      margin-right: .8rem;
      border-radius: 10px;
      object-fit: contain;
    img{
      width: 100%;
      height: 100%;
      // border-width: 5px;
      border-radius: 10px;
    }
   }
    .app-card-meta{
      // padding:1rem; 
      small{
        font-size: .7rem;
      }
      small.read-time{
        // float: right;
        display: block;
        padding: .5rem;
      }
    }
    .app-card-body{
      h5 {
        font-size: 100%;
        a {
          text-decoration: none;
          color: $c-bg-black;
          letter-spacing: $letter-sapacing;
        }
      }
    }


  }
}


@include media-breakpoint-up(sm) { 



 }
@include media-breakpoint-up(md) { 
  .sub-content-component {
    background: transparent;
    div.app-card {
      position: relative;
      width: 100%;
      display: block;
      flex-direction: column;
      border-radius: 10px;
      background: transparent;
      box-shadow: 0 1px 1px $shadow-color, 0 1px 1px $shadow-color;
      transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
      margin-bottom: 1rem;
      margin-right: 2rem;
      min-height: 300px;
      border: 1px solid $c-bg;
  
      div.app-card-poster{
        width: 100%;
        min-height: 180px;
        
        // border:1px solid green;
        img {
          width: 100%;
          height: 180px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          object-fit: cover;
        }
        
      }
      .app-card-meta {
        left:0px;
        width: 100%;
        padding: .5rem;
        margin-top: 1rem;
        padding-bottom: 0px;
        // border:1px solid red;
        
  
        small {
          font-weight: 500 !important;
          letter-spacing: $letter-sapacing;
          font-size: .8rem;
        }
        small.text-filler {
          font-weight: 400 !important;
        }
  
        small.read-time {
          display: inline;
          // float: right;
          margin-left: 1rem;
          line-height: 1rem;
          margin-top: .4rem;
          color: $text-user-color;
        }
  
        a {
          text-decoration: none;
          small.text-user {
            text-transform: capitalize;
            color: $text-user-color;
            // font-size: .7rem;
          }
  
          &:hover {
            small.text-user {
              color: $c-icon-color;
            }
          }
        }
      }
      .app-card-body {
        padding: .5rem;
        margin-top: 1rem;
        // border:1px solid red;
        h5 {
          // border:1px solid red;
          // text-align: left;
          font-size: 1rem;
          a {
            // border:1px solid blue;
            text-decoration: none;
            color: $c-bg-black;
            letter-spacing: $letter-sapacing;
            // font-size: .9rem;
          }
        }
  
        p {
          letter-spacing: $letter-sapacing;
          font-size: 0.85rem;
          // word-wrap: initial;
        }
      }
  
      &:hover {
        box-shadow: 0 14px 28px $shadow-hover-color, 0 10px 10px $shadow-hover-color;
        
        .app-card-poster{
          box-shadow: 0 14px 28px rgba($color: #000000, $alpha: .2), 0 10px 10px rgba($color: #000000, $alpha: .2);
        }
        .app-card-body {
          h5 a {
            color: $c-icon-color;
            // animation: myfirst 2s;
            // -moz-animation: myfirst 2s infinite; /* Firefox */
            // -webkit-animation: myfirst 2s infinite; /* Safari and Chrome */
          }
        }
      }
    }
  }

 }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) { 



 }

@-moz-keyframes myfirst /* Firefox */ {
  0% {
    color: $c-bg;
  }
  50% {
    color: $c-text-color;
  }
  100% {
    color: $c-icon-color;
  }
}

@-webkit-keyframes myfirst /* Safari and Chrome */ {
  0% {
    color: $c-bg;
  }
  50% {
    color: $c-text-color;
  }
  100% {
    color: $c-icon-color;
  }
}
