.all-post-component {
  margin-top: 2rem;

  h2 {
    // font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
    i {
      margin-right: 0.4rem;
      font-size: 1.5rem;
    }
  }
}

.sub-content-component {
  background: transparent;
  width: 100%;
  margin: 0 auto;
  div.app-card {
    display: block;
    overflow: auto;
    clear: both;
    transition: all 2s ease;
    border-radius: 5px;
    min-height: 100px;
    div.app-card-poster {
      float: left;
      width: 37%;
      height: 100%;
      border-radius: 5px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 0.5rem;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    .app-card-body {
      float: left;
      width: 60%;
      .app-card-meta {
        // padding: 0.4rem;

        small {
          font-size: 0.7rem;
        }
        small.text-filler {
        }
      }
      h5.app-card-heading {
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: 700;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .sub-content-component {
    background: transparent;
    width: 100%;
    margin: 0 auto;
    div.app-card {
      display: block;
      overflow: auto;
      clear: both;
      border-radius: 5px;
      div.app-card-poster {
        float: left;
        width: 30%;
        height: 100%;

        border-radius: 5px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0.5rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

      .app-card-body {
        float: left;
        width: 60%;
        .app-card-meta {
          // padding: 0.4rem;

          small {
            font-size: 0.7rem;
          }
          small.text-filler {
          }
        }
        h5.app-card-heading {
          margin-top: 1rem;
          font-size: 0.7rem;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .all-post-component {
    margin-top: 0rem;
  }
  .sub-content-component {
    background: transparent;
    margin: 0px;
    div.app-card {
      position: relative;
      width: 100%;
      display: block;
      flex-direction: column;
      border-radius: 5px;

      margin-bottom: 1rem;
      margin-right: 2rem;
      min-height: 300px;
      // border: 1px solid $border-color;

      div.app-card-poster {
        float: none;
        width: 100%;
        min-height: 180px;
        img {
          width: 100%;
          height: 180px;
          border-radius: 5px 5px 0 0;
          object-fit: cover;
        }
      }

      .app-card-body {
        width: 100%;
        padding: 0.5rem;
        margin-left: 0px;
        float: none;

        .app-card-meta {
          left: 0px;
          width: 100%;

          small {
            font-weight: 500 !important;
            font-size: 0.8rem;
          }
          small.text-filler {
            font-weight: 400 !important;
          }

          small.read-time {
            display: inline;
            // float: right;
            margin-left: 1rem;
            line-height: 1rem;
            // margin-top: .4rem;
            display: none;
          }

          a {
            text-decoration: none;
            small.text-user {
              text-transform: capitalize;
              // font-size: .7rem;
            }

            &:hover {
              small.text-user {
              }
            }
          }
        }
        h5.app-card-heading {
          font-size: 1rem;
          font-weight: 400;
          margin-top: 0.6rem;
          a {
            // border:1px solid blue;
            text-decoration: none;
            // color: $c-bg-black;
            // font-size: .9rem;
          }
        }

        p {
          font-size: 0.85rem;
          // word-wrap: initial;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
