.all-post-component {
  h2 {
    color: $c-icon-color;
  }
}

.sub-content-component {
  background: transparent;
  div.app-card {
    box-shadow: inset 0 1px 3px $shadow-color, 0 1px 3px $shadow-color;
    background-color: var(--card-bg-color);
    transition: all 2s ease-in;
    .app-card-body {
      .app-card-meta {
        small {
          color: $c-icon-color;
          letter-spacing: $letter-sapacing;
        }
        small.text-filler {
          color: $c-bg-black;
        }
      }
      h5.app-card-heading {
        letter-spacing: $letter-sapacing;
        a {
        }
      }
    }

    &:hover {
      box-shadow: -2px 2px 4px $border-color;
      .app-card-body {
        h5 a {
          color: $c-icon-color;
        }
      }
    }
  }
}
