:root {
    --c-icon-color: #852aaa;
    --c-text-color: #852aaa;
    --border-color: #852aaa;
    --shadow-hover-color: rgba(0, 0, 0, 0.22);
    --pre-color: #ee9818fc;
    --primary-color: #f1f1f1;
    --body-color: #16141a;
    --card-bg-color: #2a1835;
    --shadow-color: #2a1835;
}

$primary: var(--primary-color);
$body-bg: var(--body-color);
$c-bg: #2a1835;
$c-text-color: var(--c-text-color);
$c-icon-color: var(--c-icon-color);
$c-bg-black: #212529;
$c-color-black: #433e3f;
$letter-sapacing: 0.025rem;
$mute-color: #6c757d;
$white-color: #f1f1f1;
$pure-white: white;
$bg-overlay: rgba(122, 118, 118, 0.4);
$shadow-color: rgba(0, 0, 0, 0.2);
$shadow-hover-color: var(--shadow-hover-color); //rgba(0,0,0,0.25);
$pre-color: var(--pre-color);

$text-user-color: #6c757d;
$border-color: var(--border-color);
$content-card-border-color: $border-color;
