//search Start
#progress {
  --scroll: 0%;
  position: fixed;
  width: 100%;
  height: 2px;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.brand-component {
  // border:1px solid red;
  a.brand {
    text-decoration: none;
    i {
      padding: 0.2rem;
      padding-top: 0.3rem;
      border-radius: 5px;
      font-size: 1rem;
      color: white;
    }
    span {
      font-size: 1.1rem;
      font-weight: bold;
      top: .2rem;
      position: relative;
      letter-spacing: .06rem;
      // text-transform: capitalize;
    }
  }
}

.search-component {
  display: none;
}

.search-wrapper {
  margin-right: 20px;
  margin: 5px;
  span {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    i {
      font-size: 1rem;
    }
  }

  .basic-overlay {
    // display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;
    display: none;
  }

  .search-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;

    div.close-search-wrapper {
      i.close-search-button {
        font-size: 2rem;

        &:hover {
          font-size: 2.1rem;
          cursor: pointer;
        }
      }
    }
   

    span/**google search selector-dynamic**/ {
      padding: 0 0 0 0 !important;
      background: transparent !important;
      border-width: 0px;
    }
    div.gsc-input-box /* google search - dynamic input*/ {
      padding: 0.3rem;
      border-radius: 5px;
      margin-right: 0.5rem;
    }

    /* googlesearch -dynamic button*/
    button.gsc-search-button {
      padding: 0.9rem;
      border-radius: 5px;
    }
  }
}

.setting-wrapper {
  margin-right: 20px;
  margin: 5px;
  span {
    border-radius: 5px;
    padding: 10px;

    i {
      font-size: 1rem;
      transform: rotate(-90deg);
    }
  }

  .basic-overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0%;
    background: rgba(0, 0, 0, 0.3); //$bg-overlay;
    top: 0%;
    z-index: 1;
  }

  .setting-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 40%;
    left: 0%;
    top: 60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    animation: slidein 2s linear;
    z-index: 3;

    div.close-setting-wrapper {
      i.close-setting-button {
        font-size: 2rem;

        &:hover {
          font-size: 2.1rem;
          cursor: pointer;
        }
      }
    }

    div.nightmode-wrapper {
      border: 1px solid transparent; //in nightmode- keep a color
      border-radius: 5px;
      padding: 1rem;
      padding-top: 1.3rem;
    }

    ul.list-group.setting-component{
      li.list-group-item{
        background: transparent;
        div.nightmode-wrapper{
          div.custom.switch{
            label.custom-control-label{
              &:after{
              }
            }
          }
        }
      }
    }
  }

  &:hover {
    span {
      cursor: pointer;
      i {
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .brand-component {
    a.brand {
      text-decoration: none;
      i {
        padding: 0.2rem;
        padding-top: 0.3rem;
        border-radius: 5px;
        font-size: 1rem;
        color: white;
      }
      span {
        font-size: 1.5rem;
        font-weight: bold;
        top: .2rem;
        // text-transform: capitalize;
      }
    }
  }
}
@include media-breakpoint-up(md) {

  .brand-component {
    a.brand {
      text-decoration: none;
      i {
        padding: 0.2rem;
        padding-top: 0.3rem;
        border-radius: 5px;
        font-size: 1rem;
        color: white;
      }
      span {
        font-size: 1.5rem;
        font-weight: bold;
        top: .2rem;
        position: relative;
        letter-spacing: .08rem;
        // text-transform: capitalize;
      }
    }
  }
  .setting-wrapper {
    .setting-overlay {
      width: 60%;
      height: 30%;
      left: 15%;
      top: 35%;
      border-radius: 10px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .brand-component {
    position: fixed;
    margin-left: 2%;
  }
  .search-col {
    left: 25%;
  }
  .parent-setting-wrapper{
    margin-left: 52%;
  }

  .search-wrapper {
    .search-overlay {
      display: block;
      position: fixed;
      width: 40%;
      height: 100%;
      left: 0%;
      
      top: 0%;
    }
  }

  .setting-wrapper {
    .setting-overlay {
      width: 30%;
      height: 30%;
      min-height: 300px;
      left: 35%;
      top: 35%;
      border-radius: 10px;
    }
  }
}

@include media-breakpoint-up(xl) {
}
//Search Component ENDS
