:root {
  --c-icon-color:  #dc3545    ;
  --c-text-color:  #dc3545   ;
  --border-color: transparent;
  --shadow-hover-color: rgba(0, 0, 0, 0.2);
  --pre-color:  #333;
  --content-card-border: transparent;
  --primary-color: #333;
  --body-color:  #f1f1f1;
  
}

$primary: var(--primary-color);
$body-bg: var(--body-color);
$c-bg: #fc456a13;
$c-text-color: var(--c-text-color);
$c-icon-color: var(--c-icon-color);
$c-bg-black: #212529;
$c-color-black: #433e3f;
$letter-sapacing: 0.025rem;
$mute-color: #6c757d;
$white-color: #f1f1f1;
$pure-white: white;
$bg-overlay: rgba(122, 118, 118, 0.4);
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover-color: var(--shadow-hover-color); //rgba(0,0,0,0.25);
$pre-color: var(--pre-color);

$text-user-color: #6c757d;
$border-color: var(--border-color);
$content-card-border-color: var(--content-card-border);


