.page-component {
  //   border: 1px solid red;

  .page-header {
    margin-bottom: 2rem;
    small.read-time {
      float: right;
      color: $c-icon-color;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      float: left;
      margin-right: 0.4rem;
      border: 0.2rem solid $c-icon-color;
      padding: 2px;
    }
    .page-header-meta {
      a {
        display: block;
        small {
          color: $c-icon-color;
          letter-spacing: $letter-sapacing;
        }
      }
      small {
        letter-spacing: $letter-sapacing;
        color: $mute-color;
      }
    }
  }
  .page-poster {
    img {
      width: 100%;
      height: 300px;
    }
  }
  .page-content {
    letter-spacing: $letter-sapacing;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    .page-content-title {
      text-align: left;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
    }
    h1 {
      font-size: 1.9rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.1rem;
    }
    a {
      border-bottom: 2px dashed $c-icon-color;
      // font-style: italic;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: $c-icon-color;
        font-weight: 600;
        border-bottom-width: 0px;
      }
    }
    /**quotes for blockquote**/
    blockquote {
      padding-left: 2rem;
      padding-right: 2rem;
      font-style: italic;
    }
    blockquote:before,
    blockquote:after {
      font-family: FontAwesome;
      color: $c-text-color;
      // font-size: 34px;
    }
    blockquote:before {
      content: "\f10d";
      margin-left: -1rem;
    }
    blockquote:after {
      content: "\f10e";
      left: 100%;
      top: -2rem;
      position: relative;
    }
    /**quotes for blockquote //end**/

    p {
      letter-spacing: 0.035rem;

      code {
        font-weight: 600;
        font-size: 100%;
      }
    }
    ul,
    ol {
      padding-left: 1rem;

      li {
        code {
          font-weight: 600;
          font-size: 100%;
        }
      }
    }

    img {
      width: 100%;
    }

    pre.highlight {
      border: 4px solid $c-bg;
      border-radius: 5px;
      padding: 1rem;
    }
  }
}
.page-comments {
  .message {
    border: 3px dotted $c-icon-color;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-style: italic;
  }
}

@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  .page-component {
    .page-content {
      ul,
      ol {
        padding-left: 2rem;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .page-component {
    .page-content {
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
}
