.page-component {
 
.related-posts {
    p {
      a {
        color: $c-icon-color;
        border-bottom: 1px solid $c-icon-color;

        &:hover {
          color: $c-icon-color;

        }
      }
    }
  }
  .page-header {
    small.read-time {
      color: $c-icon-color;
    }

    img {
      border: 0.2rem solid $c-icon-color;
    }

    .page-header-meta {
      a {
        small {
          color: $c-icon-color;
          letter-spacing: $letter-sapacing;
        }
      }

      small {
        letter-spacing: $letter-sapacing;
        color: $mute-color;
      }
    }
  }

  .page-content {
    letter-spacing: $letter-sapacing;

    .page-content-title {}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $c-icon-color;
    }

    a {
      color: $c-icon-color;
      border-bottom: 1px solid $c-icon-color;
      transition: all 0.2s linear;

      &:hover {
        color: $c-icon-color;
        transition: .2s ease;
      }
    }

    blockquote:before,
    blockquote:after {
      color: $c-text-color;
    }

    pre {
      color: $pre-color;
    }

    pre.highlight {
      border: 4px solid $c-bg;
      background: var(--card-bg-color);
    }
  }
}

.page-comments {
  .message {
    // border: 1px dashed $c-icon-color;
  }
}