/** TOP POST COMPONENT **/
// @include media-breakpoint-up(xs) {

ul.top-post-component {
  margin-top: 2rem;
  li.list-group-item.top-heading {
    border: none;
    box-shadow: none;
    background: transparent;

    div.media {
      padding: 0.5rem;

      div.media-body {
        font-size: 1.4rem;
        h4 {
          span {
            font-weight: 600;
            margin: 0 0.5rem;
          }
        }
      }
    }

    &:hover {
      box-shadow: none;
    }
  }
  li.list-group-item {
    padding: 0 0 0 0;
    margin-bottom: 1rem;
    background: transparent;
    a {
      text-decoration: none;
      display: block;
      // padding: 0.4rem;
      div.media {
        padding: 0.5rem;
        border-radius: 5px;

        img {
          width: 72px;
          height: 72px;
          border-radius: 5px;
          margin-right: 0.6rem;
        }
        .media-body {
          h5 {
            letter-spacing: 0.025rem;
            font-size: 0.9rem;
            text-transform: lowercase;
          }
          p {
            font-size: 0.9rem;
            margin: 0 0 0 0;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 1rem !important;
      border-bottom-width: 1px !important;
      border-bottom-style: solid !important;
    }
  }
}

// }
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  ul.top-post-component {
    margin-top: 0;
  }
}

@include media-breakpoint-up(lg) {
  ul.top-post-component {
    margin-top: 0;
    li.list-group-item.top-heading {
      border: none;
      box-shadow: none;
      background: transparent;
    }
    li.list-group-item {
      padding: 0 0 0 0;
      // border-radius: 5px;
      margin-bottom: 1rem;
      // border: 1px solid $border-color;
      // box-shadow: 0 1px 3px $border-color, 0 1px 2px $border-color;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      background: transparent;
      a {
        text-decoration: none;
        display: block;
        // padding: 0.4rem;
        div.media {
          padding: 0.5rem;
          border-radius: 5px;

          img {
            width: 72px;
            height: 72px;
            border-radius: 5px;
            margin-right: 0.6rem;
          }
          .media-body {
            h5 {
              // letter-spacing: $letter-sapacing;
              font-size: 1rem;
              text-transform: capitalize;
            }
            p {
              font-size: 1rem;
              margin: 0 0 0 0;
            }
          }
        }
      }
    }
  }
}

/** TOP POST COMPONENT END **/
