/** TOP POST COMPONENT **/
// @include media-breakpoint-up(xs) {

ul.top-post-component {
  margin-top: 2rem;
  li.list-group-item.top-heading {
    border: none;
    box-shadow: none;
    background: transparent;

    div.media {
      div.media-body {
        font-size: 1.4rem;
        font-weight: 700;
        color: $c-icon-color;
        i {
          color: $c-icon-color;
          margin-right: 0.5rem;
          font-size: 2rem;
        }
        span {
          letter-spacing: $letter-sapacing;
          background: transparent;
        }
      }
    }

    &:hover {
      box-shadow: none;
    }
  }
  li.list-group-item {
    padding: 0 0 0 0;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    box-shadow: 0px 1px 3px $shadow-color, 0 1px 2px $shadow-color;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background: transparent;
    a {
      text-decoration: none;
      display: block;
      padding: 0.4rem;
      div.media {
        img {
          width: 72px;
          height: 72px;
          border-radius: 5px;
          margin-right: 0.6rem;
        }
        .media-body {
          h5 {
            letter-spacing: 0.025rem;
            color: $c-icon-color;
            font-size: 0.9rem;
            font-weight: 700;
            text-transform: lowercase;
          }
          p {
            font-size: 0.9rem;
            margin: 0 0 0 0;
            font-weight: 700;
          }
        }
      }
    }
    &:hover {
      // background: $c-bg;
      box-shadow: 0 14px 28px$shadow-hover-color, 0 10px 10px $shadow-hover-color;
    }
    &:last-child {
      margin-bottom: 1rem !important;
      border-bottom-width: 10px !important;
      border-bottom-style: solid !important;
      border-bottom-color: var(--boder-color) !important;
    }
  }
}

// }
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  ul.top-post-component {
    margin-top: 0;
  }
}

@include media-breakpoint-up(lg) {
  ul.top-post-component {
    margin-top: 0;
    li.list-group-item.top-heading {
      border: none;
      box-shadow: none;
      background: transparent;
    }
    li.list-group-item {
      padding: 0 0 0 0;
      border-radius: 5px;
      margin-bottom: 1rem;
      // border: 1px solid $border-color;
      // box-shadow: 0 1px 3px $border-color, 0 1px 2px $border-color;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      background: transparent;
      a {
        text-decoration: none;
        display: block;
        padding: 0.4rem;
        div.media {
          img {
            width: 72px;
            height: 72px;
            border-radius: 5px;
            margin-right: 0.6rem;
          }
          .media-body {
            h5 {
              // letter-spacing: $letter-sapacing;
              font-size: 1rem;
              text-transform: capitalize;
            }
            p {
              font-size: 1rem;
              letter-spacing: $letter-sapacing;
              margin: 0 0 0 0;
              font-weight: 500;
            }
          }
        }
      }
     

      &:last-child {
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
        border-bottom-color: $border-color !important;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
}

/** TOP POST COMPONENT END **/
