
    .top-card {
      background: transparent;
      // box-shadow: 0 1px 2px $shadow-color, 0 1px 3px $shadow-color;
      border: 0px solid $border-color !important;
      
      .card-body {
        .card-meta {
          letter-spacing: $letter-sapacing;
          color: $mute-color;
          small.text-category {
            a{
              color: $c-icon-color;
            }
          }
        }
        h5.card-title {
          
          color: $c-color-black;
          letter-spacing: $letter-sapacing;
         
        }
        p.card-text {
          color: $primary;
          letter-spacing: $letter-sapacing;
        }
      }

      

      &:hover{
        box-shadow: 0 14px 28px $shadow-hover-color, 0 10px 10px $shadow-hover-color;
        h5.card-title{
          a{
            color:$c-icon-color;
          }
        }
      }
    }
  
