$primary: #333;
$font-family-base: 'Karla', sans-serif;
$c-bg: #fc456a13;
$c-text-color: #e22248;
$c-icon-color: #da1e43fc;
$c-bg-black: #212529;
$c-color-black: #433e3f;
$letter-sapacing: 0.025rem;
$mute-color: #6c757d;
$white-color: #f1f1f1;
$pure-white: white;
$bg-overlay: rgba(122, 118, 118, 0.4);
$shadow-color:rgba(0, 0, 0, 0.2);
$shadow-hover-color: #fc456a3a;//rgba(0,0,0,0.25);

$text-user-color:#6c757d;
$border-color: #c7c9ca47;

$custom-control-indicator-border-width : 2px;
$custom-control-indicator-size: 2rem; 
$custom-switch-width:                           $custom-control-indicator-size * 1.75 !default;
$custom-switch-indicator-border-radius:         $custom-control-indicator-size / 2 !default;
$custom-switch-indicator-size:                  calc(#{$custom-control-indicator-size} - #{$custom-control-indicator-border-width * 4}) !default;
