 {% assign collection = {{include.currentCollection}} %}

<div class="section toc-bottom-wrapper">

    {% assign count = '0' %} {% assign colcategory = collection  %} <!-- | reverse -->
    <h1 class=" pt-sans-bold"> Table of contents - <span>{{page.category}} <span></h1>
    <ul class="toc-bottom">
        {% for post in colcategory %} {% if post.category != nil and post.category != blank %} {% if post.category == page.category
        %} {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <li>
            {% if page.url == post.url %}
            <a class="teal-text text-darken-3 pt-sans-bold " href="{{site.baseurl}}{{post.url}}">
                {{post.title}}
            </a>
            {% else %}
            <a class="black-text pt-sans-bold" href="{{site.baseurl}}{{post.url}}"> {{post.title}}
            </a>
            {% endif %}
        </li>
        {% endif %} {% else %}
        <li>
            <a class="teal-text text-darken-3 pt-sans-bold" href="{{site.baseurl}}{{page.url}}">
                {{page.title}}
            </a>
        </li>
        {% break %} {% endif %} {% endfor %}
    </ul>
</div>