 {% assign collection = {{include.currentCollection}} %}

<div class="section toc-wrapper">

    {% assign count = '0' %} {% assign colcategory = collection %}
    <h1 class="toc-heading pt-sans-bold"> Table of Contents </h1>
    <dl class="toc">
        {% for post in colcategory %} {% if post.category != nil and post.category != blank %} {% if post.category == page.category
        %} {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <dt>
            {% if page.url == post.url %}
            <a class="teal-text text-darken-3 pt-sans-bold " href="{{site.baseurl}}{{post.url}}">
                {{post.title}}
            </a>
            {% else %}
            <a class="black-text pt-sans-bold" href="{{site.baseurl}}{{post.url}}"> {{post.title}}
            </a>
            {% endif %}
        </dt>
        {% endif %} {% else %}
        <dt>
            <a class="teal-text text-darken-3 pt-sans-bold" href="{{site.baseurl}}{{page.url}}">
                {{page.title}}
            </a>
        </dt>
        {% break %} {% endif %} {% endfor %}
    </dl>
</div>