<footer class="page-footer white" id="">
        
    <div class="footer-copyright">
      <div class="container">
       <a class="blue-grey-text " href="#!">Made with <i class="material-icons grey-text lighten-2">favorite</i> by me</a>
      </div>
    </div>
  </footer>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
         <script type="text/javascript" src="{{site.baseurl}}/assets/js/init.js"></script>    



    
    </body>
</html>