<footer class="page-footer white" id="">
        
    <div class="footer-copyright">
      <div class="container">
       <a class="blue-grey-text " href="{{site.baseurl}}/about">Made with <i class="material-icons teal-text lighten-4">favorite</i> by me</a>
      </div>
    </div>
  </footer>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
   
        <script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
         <script type="text/javascript" src="{{site.baseurl}}/assets/js/init.js"></script>    
         <script id="dsq-count-scr" src="//shaykhslog-com.disqus.com/count.js" async></script>
    </body>
</html>