<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png"/>
{% include seo/headseo.html %}
{% if site.env == 'production' %}
    {% include analytics/google-analytics.html %}
     {% include analytics/google-ads.html %}
{% endif %}
<!--[if lt IE 9]>
<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css"  media="screen,projection"/>
</head>
<body>