
{% for post in site.posts %}
 <div class="col s12 m4">
	          <div class="card">
	            <div class="card-deck valign-wrapper {{post.bannercolor}}">

	              <span class="card-title valign white-text">{{post.title}}</span>
	            </div>
	            <div class="card-content bold">
	              <p>{{post.meta}}</p>
	            </div>
	            <div class="card-action ">
                  
	              <a class="blue-grey-text " href="{{site.baseurl}}{{post.url}}">read full post</a>
	              </div>
	          </div>
	        </div>

{% endfor %}