
 <!--- nav content -->   
<ul id="dropdown1" class="dropdown-content grey-text">
  <li><a href="{{site.baseurl}}/posts/tech">Tech<span class="badge new right">20</span></a></li>
  <li><a href="{{site.baseurl}}/posts/software">Software <span class="badge new right">20</span> </a></li>
  <li><a href="{{site.baseurl}}/posts/code">Code <span class="badge new right">20</span></a></li>
  <li><a href="#!">Fitness <span class="badge new right">20</span></a></li>
  <li class="divider"></li>
  <li><a href="#!">Others</a></li>
</ul>
    <nav class=" grey lighten-2 border-bottom" role="navigation">
    <div class="nav-wrapper container">

      <a id="logo-container" href="{{site.baseurl}}/" class="brand-logo teal-text hide-on-small-and-down">shaykh's-log</a>
      <ul class="right hide-on-med-and-down">
      	<li><a class="black-text" href="#">About me</a></li>
         <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">Posts<i class="material-icons right">more_vert</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav ">
     
        <li><a href="#">About me</a></li>
        <li><a href="#!" >Posts</a></li>
        
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    
  </nav>