
 <!--- nav content -->   
<ul id="dropdown1" class="dropdown-content teal-text">
  <li><a class="pt-sans-bold teal-text" href="{{site.baseurl}}/posts/tech">Tech<span class="badge new right">10</span></a></li>
  <li><a class="pt-sans-bold" href="{{site.baseurl}}/posts/software">Software <span class="badge new right">2</span> </a></li>
  <li><a class="pt-sans-bold" href="{{site.baseurl}}/posts/code">Code <span class="badge new right">6</span></a></li>
  <li><a class="pt-sans-bold" href="#!"  >Fitness <span class="badge new right">1</span></a></li>
  <li class="divider"></li>
  <li><a href="#!">Others</a></li>
</ul>
    <nav class=" white lighten-2 border-bottom" id ="check_nav" role="navigation">
    <div class="nav-wrapper container">

      <a id="logo-container" href="{{site.baseurl}}/" class="brand-logo teal-text hide-on-small-and-down">shaykh's-log</a>
      <ul class="right hide-on-med-and-down">
      	<li><a class="teal-text pt-sans-bold" href="#">About me</a></li>
         <li><a class="dropdown-button teal-text pt-sans-bold" href="#!" data-activates="dropdown1">Posts<i class="material-icons right">more_vert</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav ">
     
        <li><a href="#">About me</a></li>
        <li><a href="#!" >Posts</a></li>
        
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    
  </nav>