
 <!--- nav content -->   
<ul id="dropdown1" class="dropdown-content">
  <li><a class="pt-sans-bold {% include util/textColor.liquid %} " href="{{site.baseurl}}/posts/tech">Technology<span class="badge new right">10</span></a></li>
  <li><a class="pt-sans-bold {% include util/textColor.liquid %}" href="{{site.baseurl}}/posts/code">Coding <span class="badge new right">6</span></a></li>
  <li><a class="pt-sans-bold {% include util/textColor.liquid %}" href="{{site.baseurl}}/posts/life">Life <span class="badge new right">2</span> </a></li>
  <li><a class="pt-sans-bold {% include util/textColor.liquid %}" href="{{site.baseurl}}/posts/fitness"  >Fitness <span class="badge new right">1</span></a></li>
</ul>
<div class="navbar-fixed" id="top">
    <nav class=" white lighten-2 " id ="check_nav" role="navigation">
    <div class="nav-wrapper">

      <a id="logo-container" href="{{site.baseurl}}/" 
      class="brand-logo  {% include util/textColor.liquid %} ">shaykh's-log</a>
      <ul class=" nav_menu right hide-on-med-and-down">
      	<li><a class="pt-sans-bold {% include util/textColor.liquid %}" href="{{site.baseurl}}/about">About me</a></li>
         <li><a class="dropdown-button  pt-sans-bold {% include util/textColor.liquid %}" href="#!" data-activates="dropdown1">Posts<i class="material-icons right">more_vert</i></a></li>
      </ul>

      <!--side menu -->
      <ul id="slide-out" class="side-nav ">
        <li><div class="userView">
          <div class="background {% include util/sideColor.liquid %}">
          
          </div>
          <a href="#!user"><img class="circle" ></a>
          <a href="{{site.baseurl}}/"><span class="white-text  pacifo-L">shaykh's-log</span></a>
          <a href="#!email"><span class=" email"></span></a>
        </div></li>
        <li><a class=" {% include util/textColor.liquid %} " style="font-size: 1.1rem;" href="{{site.baseurl}}/posts/tech">
        <i class="material-icons">nfc</i> Technology</a></li>
        <li><a class=" {% include util/textColor.liquid %} " style="font-size: 1.1rem;" href="{{site.baseurl}}/posts/code"><i class="material-icons">fullscreen</i>Coding</a></li>
        <li><a class=" {% include util/textColor.liquid %} " style="font-size: 1.1rem;" href="{{site.baseurl}}/posts/life">
        <i class="material-icons">toys</i>Life</a></li>
        <li><a class=" {% include util/textColor.liquid %} " style="font-size: 1.1rem;" href="{{site.baseurl}}/posts/fitness">
        <i class="material-icons">accessibility</i>Fitness</a></li>
        <li><div class="divider"></div></li>
        <!--<li><a class="subheader ">Subheader</a></li> -->
        <li><a class=" {% include util/textColor.liquid %}" href="{{site.baseurl}}/about"><i class=" material-icons">android</i>About me</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class=" side_menu button-collapse {% include util/textColor.liquid %} show-on-large"><i class="material-icons">view_day</i></a>


    </div>
    
  </nav>
</div>

