<div class="container">

<div class="section">

 
  <div class="col s12 m12 pt-sans  border-bottom-dotted " style="padding-bottom: 1rem; margin-bottom: 3rem; border-color: #009688 !important;">
    <h5 class="teal-text darken-3  " style="font-size: 3rem;">Among the top</h5>
  </div>
</div>

<div class="section ">

  {% for page in site.posts limit:5 %}

    <div class="row">
      <div class="col s12 m12 recent-article">
        <div class="icon-block">
          <a href ="{{site.baseurl}}{{page.url}}" class="title pt-sans-bold  black-text ">{{page.title}}</a>
          <p class=" black-text margin-top-2 pt-sans font-2">{{page.meta}} 
             <a href ="{{site.baseurl}}{{page.url}}" class="teal-text" > ... read more </a>
          </p>
        </div>
      </div>

      <div class="row padding-top-2 padding-bot-1 border-bottom-dotted">
        <span class="grey-text right date-text">{{page.date | date: '%B %d, %Y'}}</span>
        <span class="grey-text right " style="padding-right: 2rem;">{{page.author | uppercase}}</span>
      </div>
    </div>
  {% endfor %}

</div>
</div>