

{% assign collection = {{include.currentCollection}} %}

<div class="section toc-wrapper">

{% assign count = '0' %}
{% assign colSeries  = collection | reverse %}
<h1 class="toc pt-sans-bold"> Table of Contents </h1>
<ul class="series">
{% for post in colSeries %}
{% if post.series != nil %}
{% if post.series == page.series %}
{% capture count %}{{ count | plus: '1' }}{% endcapture %}
<li> 
{% if page.url == post.url %}
<a class="teal-text text-darken-3 pt-sans-bold " href="{{site.baseurl}}{{post.url}}">
<i class="material-icons" style="font-size: 14px;">check</i> - {{post.title}}
</a>
{% else %}
<a class="black-text pt-sans" href="{{site.baseurl}}{{post.url}}">
<i class="material-icons" style="font-size: 14px;">star</i> - {{post.title}}
</a>
{% endif %}
</li>
{% endif %}
{% else %}
<li>
<a class="teal-text text-darken-3 pt-sans-bold" href="{{site.baseurl}}{{page.url}}">
<i class="material-icons" style="font-size: 14px;">check</i> - {{page.title}}
</a> 
</li> 
{% break %} 
{% endif %}

{% endfor %}
</ul>
</div>


