<div class="row fof-wrapper">
        <div class="col col-lg-8">
            <ul class="list-group">
                <li class="list-group-item">
                        <i class="fab fa-accessible-icon"></i>
                        <p class="f0f-label"> Sorry, We can't find the page you have requested.</p>
                        
                </li>
                <li class="list-group-item">
                        <a class="btn btn-outline-primary" href="/" role="button">Return Home</a>
                </li>

            </ul>
        </div>
    </div>