<div class="col-12  col-md-11 col-lg-9 my-md-5   sub-content-component">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 my-1 my-md-3 all-post-component">
            <span>
                <i class="fab fa-accusoft"></i>
                All Posts
            </span>
        </div>
    </div>

    <div class="row">

        {% assign sortedR = site.postCollection | sort: 'date'  %}
        {% for post in sortedR | reverse %}


        <div class="col-12 col-sm-6 col-md-4 col-lg-4  my-1 my-md-3">
            <div class="app-card">
                <div class="app-card-poster">
                    <img src="{{site.baseurl}}/assets/images/{{post.image}}" alt="">
                </div>

                <div class="app-card-body">

                    <div class="app-card-meta">
                        <a href="{{site.baseurl}}/about/{{post.author}}">
                            <small class="text-user">{{post.author}}</small>
                        </a>
                        <small class="text-filler">in</small>

                        <a href="{{site.baseurl}}{{site.data.categories[post.category].link}}">
                            <small class="text-category">{{post.category}}</small>
                        </a>
                    </div>

                    <h5 class="app-card-heading">
                        <a href="{{site.baseurl}}{{post.url}}">{{post.title}} </a>
                    </h5>

                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>