<!--
    For generating the category wise post
    - Existing category property of the post will be deprecated
    - Since a post can have multiple categories . As such, the new property "categories" will be introduced.
    - untill the new design is launched. category property will be kept for backward compatability

    - type "all" will be used in all the posts to denote that category belong to all types as a more generalised view
    - page.type desribes which category it belongs
-->

{% assign postCategory = include.type %}
{% assign sortedPosts = (site.postCollection | sort: 'date') | reverse %}
{% for post in sortedPosts %}
{% for category in post.categories%}
{% if category == postCategory%}

<!-- category-card start-->
<div class="col-12 col-sm-6 col-md-12 col-lg-12 my-2 ">

    <div class="app-category-card">
        <div class="app-card-header">
            <small class="read-time">{% include util/minRead.liquid content= post.content  %} read</small>
            <img src="{% include util/insertDp-v2.liquid name = post.author %}"
                 alt="image">
            <div class="app-card-meta">
                <a href="{{site.baseurl}}/about/{{post.author}}"><small>{{post.author}}</small></a>
                <small>{{post.date | date: '%B %d, %Y'}}</small>
            </div>

        </div>
        <div class="app-card-body">
            <i class="fas fa-link"></i>
            <h5>
                <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            </h5>
            <p>{{post.excerpt}}</p>
        </div>
        <div class="app-card-footer">
            <div class="control">
                <a href="{{site.baseurl}}{{post.url}}">
                    <span>read more</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--category card end-->
{% endif %}
{% endfor %}
{% endfor %}