<div class="container-fluid ">
    <div id="progress"></div>
    <!--START Header-->
    <div class="row py-3">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2 brand-component ">
            <a class="brand " href="/" alt="initgrep.com">
                <i class="fas fa-terminal"></i>
                <span>initgrep</span>
            </a>
        </div>
      
        <div class="col-6 col-sm-6 col-md-8  col-lg-4 parent-setting-wrapper">

            <div class="setting-wrapper float-right py-2">
                <span class="setting-open-wrapper">
                    <i class="fas fa-sliders-h"></i>
                </span>
                <div class="basic-overlay"></div>
                <div class="setting-overlay">

                    <ul class="list-group list-group-flush setting-component mt-3  ">
                        <li class="list-group-item">
                            <div class="pref-heading row">
                                <div class="col-10">
                                    <h1>Prefrences</h1>
                                    <p>Select your prefrences</p>
                                </div>
                                <div class="col-2">
                                    <div class="close-setting-wrapper">
                                        <i class=" close-setting-button far fa-times-circle float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row nightmode-wrapper">
                                <div class="col-6">
                                    <label class=""><strong>Night Mode</strong></label>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="nightSwtich">
                                        <label class="custom-control-label" for="nightSwtich"></label>
                                    </div>

                                </div>

                            </div>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="search-wrapper float-right  py-2">
                <span class="search-open-wrapper">
                    <i class="fas fa-search"></i>
                </span>
                <div class="basic-overlay"></div>
                <div class="search-overlay ">
                    <div class="row">
                        <div class="col-12 pb-lg-3 pt-lg-1">
                            <div class="close-search-wrapper">
                                <i class=" close-search-button far fa-times-circle float-right"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="gcse-search"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--END HEADER-->
