<div class="container-fluid">
    <!--START Header-->
    <div class="row py-3">
        <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-2 brand-component ">
            <a class="brand " href="#" alt=""> >_ init | grep</a>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-4 search-col">
            <!-- <div class="input-group  search-component ">
                <input type="text" class="form-control form-control-lg pl-3 " placeholder="search"
                    aria-label="search initgrep" aria-describedby="search initgrep">
                <div class="input-group-append">
                    <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
                </div>

            </div> -->
        </div>
        <div class="col-6 col-sm-7 col-md-7 col-lg-4 ">

            <div class="setting-wrapper float-right py-2">
                <span>
                    <i class="fas fa-sliders-h"></i>
                </span>
                <div class="basic-overlay"></div>
                <div class="setting-overlay">
                    setting overlay

                </div>

            </div>

            <div class="search-wrapper float-right  py-2">
                <span class="search-open-wrapper">
                    <i class="fas fa-search"></i>
                </span>
                <div class="basic-overlay"></div>
                <div class="search-overlay ">
                    <div class="row">
                        <div class="col-12 pb-lg-3 pt-lg-1">
                            <div class="close-search-wrapper">
                                <i class=" close-search-button far fa-times-circle float-right"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="gcse-search"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</div>
<!--END HEADER-->