<!doctype html>
<html class="no-js"
      lang="en">

<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
      <meta name="viewport"
            content="width=device-width, initial-scale=1">
      <meta name="msvalidate.01"
            content="028DD45A8309143DDE8DAFDD41945FE6" />

      <link type="text/css"
            rel="stylesheet"
            href="{{site.baseurl}}/assets/style/dark_green_theme.css"
            media="screen,projection" />

      <link type="text/css"
            rel="stylesheet"
            href="{{site.baseurl}}/assets/style/common.css"
            media="screen,projection" />

      <link rel="shortcut icon"
            type="image/png"
            href="{{site.baseurl}}/assets/images/favicon.png" />
      <!-- Chrome, Firefox OS and Opera -->
      <meta name="theme-color"
            content="#333333">
      <!-- Windows Phone -->
      <meta name="msapplication-navbutton-color"
            content="#333333">
      <!-- iOS Safari -->
      <meta name="apple-mobile-web-app-status-bar-style"
            content="#333333">

      {% include seo/headseo.html %}
      {% include seo/cookie-consent.html %}

      {% include analytics/google-analytics.html %}
      {% include ads/google-ads.html %}
      <!--[if lt IE 9]>
<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
      <script src="https://kit.fontawesome.com/92d824bb22.js"></script>


      <script async
              src="https://cse.google.com/cse.js?cx=000297669988019007071:0ouka41f0ma"></script>

</head>

<body>