<div class="container-fluid ">
    <div id="progress"></div>
    <!--START Header-->
    <div class="row py-3">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2 brand-component ">
            <a class="brand "
               href="/"
               alt="initgrep.com">
                <i class="fas fa-terminal"></i>
                <span>initgrep</span>
            </a>
        </div>

        <div class="col-6 col-sm-6 col-md-8  col-lg-4 parent-setting-wrapper">

            <div class="setting-wrapper float-right py-2">
                <span class="setting-open-wrapper">
                    <i class="fas fa-sliders-h"></i>
                </span>
                <div class="basic-overlay"></div>
                <div class="setting-overlay">
                    <div class="row setting-component">
                        <div class="col-12">
                            <div class="close-setting-wrapper pr-2 pt-2">
                                <i class=" close-setting-button far fa-times-circle float-right"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="pref-heading pl-2">
                                <h4>Themes</h4>
                                <p>Select a theme</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row nightmode-wrapper">

                                <div class="theme-wrapper pl-2 pl-sm-4 pl-md-0">
                                    <ul class="list-inline ">
                                        <li class="list-inline-item my-1">
                                            <button id="light-light"
                                                    type="button"
                                                    class="btn btn-sm ">LL</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button id="light-yellow"
                                                    type="button"
                                                    class="btn btn-sm ">LA</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button id="light-indigo"
                                                    type="button"
                                                    class="btn btn-sm ">LI</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button id="light-green"
                                                    type="button"
                                                    class="btn btn-sm ">LG</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button id="dark-orange"
                                                    type="button"
                                                    class="btn btn-sm ">MK</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button id="dark-indigo"
                                                    type="button"
                                                    class="btn btn-sm ">SP</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button id="dark-green"
                                                    type="button"
                                                    class="btn btn-sm ">DG</button>
                                        </li>

                                    </ul>


                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="search-wrapper float-right  py-2">
                <span class="search-open-wrapper">
                    <i class="fas fa-search"></i>
                </span>
                <div class="basic-overlay"></div>
                <div class="search-overlay ">
                    <div class="row">
                        <div class="col-12 pb-lg-3 pt-lg-1">
                            <div class="close-search-wrapper">
                                <i class=" close-search-button far fa-times-circle float-right"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="gcse-search"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--END HEADER-->