<!-- menu list-->
<nav>
    <ul class="list-group list-group-flush">
        {% for category in site.data.categories%}
        {% for entry in category%}
        {% if entry.title  and entry.type != 'all'  %}
        {% if entry.type == include.type%}
        <li class="list-group-item  my-1 active">
        {% else %}
        <li class="list-group-item  my-1">
        {% endif %}
            <a href="{{site.baseurl}}{{entry.link}}">
                <i class="{{entry.icon}}"></i>
                <span class="menu-label ">{{entry.title}}</span>
            </a>
            <span class="slider"></span> 
        </li>
        {%endif%}
        {%endfor%}
        {%endfor%}
    </ul>
</nav>