{% if page.category %}

{% for collection in site.collections %}
{% assign colsname = collection.label %}
{% if colsname != 'authors'%}
{% assign items = site.[colsname] %}
{% for post in items %}
{% if post.category == page.category and post.title != page.title %}

<h5>
    Read more about the <span>{{page.category | upcase}}</span> in the below posts -
</h5>

{% break %}
{%endif%}
{% endfor %}
{% endif %}
{% endfor %}


{% for collection in site.collections %}
{% assign colsname = collection.label %}
{% if colsname != 'authors'%}
{% assign items = site.[colsname] %}
{% for post in items %}
{% if post.category == page.category and post.title != page.title %}
<p>
    <a href="{{site.baseurl}}{{post.url}}">
        {{post.title | capitalize }}
    </a>
    - How <span>{{post.meta | downcase}}</span>
</p>
{%endif%}
{% endfor %}
{% endif %}
{% endfor %}
{%endif%}