<div class="row">
    <div class="col-12 profile-component">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 col-xl-2 u-header  ">
                <img class="user-dp center-align" src="{{site.baseurl}}/assets/images/{{ page.logo }}">
                <h5>{{page.name}}</h5>
            </div>
            <div class="col-12 col-md-8 col-lg-8 col-xl-6 u-body ">
                <div class="row ">
                    <div class="col-12 auth-msg-wrapper">
                        <p class="author-msg"> {{ page.about }} </p>
                    </div>
                    <div class="col-12 social">

                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">
                                <a href="//www.twitter.com/@{{page.twitter}}" target="blank">

                                    <span>
                                        <i class="fab fa-twitter-square"></i>
                                        @{{page.twitter}}
                                    </span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="//www.github.com/{{page.github}}" target="blank">
                                    <span>
                                        <i class="fab fa-github-square"></i>
                                        @{{page.github}}
                                    </span>

                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="//www.github.com/{{page.facebook}}" target="blank">
                                    <span>
                                        <i class="fab fa-facebook-square"></i>
                                        @{{page.github}}
                                    </span>

                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="post-list-wrapper">
                <div class="col-12 post-list-header">
                    <h5> <i class="fas fa-info-circle"></i> About initgrep.com</h5>
                </div>
                <div class="col-12 col-md-11 col-lg-10 col-xl-8 post-list-body">
                    <p>{{page.inspiration}}</p>
                    <p> {{page.techstack}} </p>

                   
                </div>
            </div>
        </div>
    </div>

</div>