<ul class="list-group list-group-flush social-component ml-md-1 ml-lg-1 ">
    <li class="list-group-item my-1">
        <a href="https://www.twitter.com/initgrep">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="list-group-item my-1">
        <a href="https://medium.com/initgrep">
            <i class="fab fa-medium"></i>
        </a>
    </li>
    <li class="list-group-item my-1">
        <a href="https://www.facebook.com/initgrep">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="list-group-item my-1">
        <!--chanage dev url-->
        <a href="https://dev.to/igagrock">
            <i class="fab fa-dev"></i>
        </a>
    </li>

    <li class="list-group-item my-1">
        <a href="{{site.baseurl}}/about">
            <i class="fas fa-info-circle"></i>
        </a>
    </li>

</ul>