<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  col-xl-5 ">

    {% assign sortedR = site.postCollection | sort: 'date' | reverse %}
    {% for post in sortedR | reverse | limit:1 %}
    <div class="card top-card">
        <img class="card-img-top img-fluid" src="{{site.baseurl}}/assets/images/{{post.image}}" alt="Card image cap">
        <div class="card-body">
            <p class="card-meta">
                <a href="">
                    <small class="text-user">{{post.author}}</small>
                </a>
                <small class="text-filler">in</small>
                <small class="text-category">
                    <a href="#">{{post.category}}</a> </small>
                <small class=" read-time">{% include util/minRead.liquid content= post.content  %} read</small>

            </p>
            <h5 class="card-title">
                <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            </h5>
            <p class="card-text"> {{post.meta}} </p>
        </div>
    </div>
    {% endfor %}
</div>