<div class="row">
    <div class="col-12 profile-component">
        <div class="row mb-4">
            <div class="col-12 col-md-3 col-lg-2 col-xl-2 u-header  ">
                <img class="user-dp center-align"
                     src="{{site.baseurl}}{{ page.image }}">
                <h5>{{page.name}}</h5>
            </div>
            <div class="col-12 col-md-8 col-lg-8 col-xl-5 u-body ">
                <div class="row ">
                    <div class="col-12 auth-msg-wrapper">
                        <p class="author-msg"> {{ page.aboutMe }} </p>
                    </div>
                    <div class="col-12 social">

                        <ul class="list-group list-group-horizontal">
                            {%if page.twitter != null%}
                            <li class="list-group-item">
                                <a href="//www.twitter.com/@{{page.twitter}}"
                                   target="blank">
                            
                                    <span>
                                        <i class="fab fa-twitter-square"></i>
                                        @{{page.twitter}}
                                    </span>
                                </a>
                            </li>
                            {%endif%}
                            {%if page.github != null%}
                            <li class="list-group-item">
                                <a href="//www.github.com/{{page.github}}"
                                   target="blank">
                                    <span>
                                        <i class="fab fa-github-square"></i>
                                        @{{page.github}}
                                    </span>
                                </a>
                            </li>
                            {%endif%}

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="post-list-wrapper">
                <div class="col-12 pl-lg-5 post-list-header">
                    <h5> <i class="fas fa-clone"></i> Posts</h5>
                </div>
                <div class="col-12 col-md-11 col-lg-10 col-xl-8 pl-lg-5 post-list-body">

                    <ul class="list-unstyled">
                        {% assign sortedCollection = site.postCollection | sort: 'date' | reverse %}
                        {% for post in sortedCollection %}

                        {% if post.author == page.name%}

                        <li class="media item my-4">
                            <img src="{{site.baseurl}}{{post.image}}"
                                 class="mr-3"
                                 alt="poster">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
                                </h5>
                                <p>{{post.meta}}</p>
                            </div>
                        </li>
                        {%endif%} {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>