.collection {
	border-width: 0px;
}

.collection .collection-header{
	font-family: 'PT Sans Narrow', sans-serif;
	margin-left: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}
.collection .collection-header h5{
	text-transform: capitalize;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 600;
}
.collection .collection-item {
	border-bottom-width: 0px;
	margin-bottom: 1rem;
}

div.right-side div.row div.col ul.collection li.collection-item a.title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: .05rem;
	color: #333;
}
div.right-side div.row div.col ul.collection li.collection-item a.title:hover {
	color: rgb(24, 122, 151);
}

div.right-side div.row div.col ul.collection li.collection-item p {
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 2rem;
	font-size: 1rem;
}