@media only screen and (max-width: 980px) {
    .toc-wrapper {
        min-height: 100px;
        margin-top: -50px;
        padding-left: 0px;
        border: 0px solid rgba(0, 0, 0, 0.2);
    }
    ul.category li {
        font-size: .9rem;
        display: block;
        margin: 0rem;
        /* background-color: rgba(0, 0, 0, 0.2); */
        padding: 0rem;
    }
}

@media only screen and (min-width: 980px) {
    .author-wrapper {
        position: fixed;
        height: 100% !important;
        width: 100% !important;
        background-color: #f1f1f1;
    }
    .left-side {
        position: fixed;
        width: 50%;
        height: 100% !important;
    }
    .left-side a.backhome {
        margin: 1rem;
    }
    .left-side a.backhome i {
        font-size: 40px;
        padding-left: 2rem;
    }
    .left-side p.about-me {
        font-size: 1.2rem;
        font-family: 'Slabo 27px', serif;
        font-weight: 500;
        letter-spacing: 0.03rem;
        color: rgba(0, 0, 0, 0.89);
    }
    .user-image {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: 10px solid rgba(0, 0, 0, 0.3);
        padding: .2rem;
        -webkit-animation: opa 1s;
        animation: opa 1s;
    }
    ul.user-contact li {
        display: inline;
        padding: 1rem;
    }
    .right-side {
        position: fixed;
        width: 50%;
        left: 50%;
        height: 100% !important;
        background-color: white;
        padding-top: 1rem;
        -webkit-animation: resize 1s;
        animation: resize 1s;
    }
    .right-side div.res-item {}
    div.res-item h5.res-title {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.4);
        padding-left: 1rem;
        letter-spacing: 0.025rem;
    }
    div.res-item a.res-ans {
        padding-left: 2rem;
        display: block;
        color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        letter-spacing: 0.04rem;
    }
    div.res-item ul {
        padding-left: 2rem;
    }
    div.res-item ul li {
        display: inline-block;
        margin-right: .3rem;
        line-height: 3rem;
    }
    div.res-item ul li a {
        color: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.5);
        padding: .4rem;
        border-radius: 10px;
        letter-spacing: 0.04rem;
    }
}

/** for mobile **/

@media only screen and (max-width: 979px) {
    .author-wrapper {
        position: relative;
        min-height: 100px;
        height: auto;
        width: 100% !important;
        background-color: #f1f1f1;
    }
    .left-side {
        position: relative;
        width: 100%;
        min-height: 200px;
        height: auto;
        clear: both;
    }
    .left-side a.backhome {
        margin: 1rem;
    }
    .left-side a.backhome i {
        font-size: 40px;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .left-side p.about-me {
        font-size: 18px;
        font-family: 'Slabo 27px', serif;
        letter-spacing: 0.025rem;
        color: rgba(0, 0, 0, 0.89);
    }
    .user-image {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 10px solid rgba(0, 0, 0, 0.3);
        -webkit-animation: opa 1s;
        animation: opa 1s;
    }
    ul.user-contact li {
        display: inline;
        padding: 1rem;
    }
    .right-side {
        position: relative;
        width: 100%;
        min-height: 100px;
        height: auto;
        clear: both;
        margin-bottom: 50px;
        background-color: white;
        padding-top: 4rem;
    }
    right-side div.res-item {}
    div.res-item h5.res-title {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.4);
        padding-left: 1rem;
        letter-spacing: 0.025rem;
    }
    div.res-item a.res-ans {
        padding-left: 2rem;
        display: block;
        color: rgba(0, 0, 0, 0.5);
        font-size: 15px;
        letter-spacing: 0.04rem;
    }
    div.res-item ul {
        padding-left: 2rem;
    }
    div.res-item ul li {
        display: inline-block;
        margin-right: .3rem;
        line-height: 3rem;
    }
    div.res-item ul li a {
        color: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(0, 0, 0, 0.5);
        padding: .4rem;
        border-radius: 10px;
        letter-spacing: 0.04rem;
    }
}

/** end author related **/

@media only screen and (max-width: 360px) {
    .post-container {
        min-height: 200px;
    }

    .content h1 {
        font-size: 2.2rem;
    }
    .content h3 {
        font-size: 2.1rem;
    }
    .content h2 {
        font-size: 1.7rem;
    }
    .content h3::before {
        display: none;
    }

    .content p strong {
        font-size: 1.4rem;
    }
    .content p, .content p em {
        font-size: 1.2rem;
    }
    .content ol li {
        letter-spacing: 0.025rem;
        font-size: 1.2rem;
      }
    
    pre.highlight {
        font-size: .8rem;
    }
    code.highlighter-rouge{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
    .post-container {
        min-height: 300px;
    }
    .content p, .content p em {
        font-size: 1.3rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    .content h3 {
        font-size: 3rem;
    }
    .content h2 {
        font-size: 2.3rem;
    }

    /* .content-text p, .content-text blockquote, .content-text em {
        line-height: 2.4rem;
    } */
    .content h3::before {
        display: none;
    }
    .content p strong {
        font-size: 1.5rem;
    }
    .content p, .content p em {
        font-size: 1.3rem;
    }
    .content ol li {
        letter-spacing: 0.025rem;
        font-size: 1.2rem;
      }
    
    pre.highlight {
        font-size: .8rem;
    }
    code.highlighter-rouge{
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 786px) and (max-width: 1280px) {
    .post-container {
        min-height: 300px;
    }
    .content p, .content p em {
        font-size: 1.3rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    .content h3 {
        font-size: 3rem;
    }
    .content h2 {
        font-size: 2.3rem;
    }

    /* .content-text p, .content-text blockquote, .content-text em {
        line-height: 2.4rem;
    } */
    .content h3::before {
        display: none;
    }
    .content p strong {
        font-size: 1.5rem;
    }
    .content p, .content p em {
        font-size: 1.3rem;
    }
    .content ol li {
        letter-spacing: 0.025rem;
        font-size: 1.2rem;
      }
    
    pre.highlight {
        font-size: .8rem;
    }
    code.highlighter-rouge{
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1360px) {
    .post-container {
        min-height: 300px;
    }
    .content p, .content p em {
        font-size: 1.1rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    .content h3 {
        font-size: 2.5rem;
    }
    .content h2 {
        font-size: 2.3rem;
    }

    /* .content-text p, .content-text blockquote, .content-text em {
        line-height: 2.4rem;
    } */
    .content h3::before {
        font-size: 5rem;
        margin-left: -40px;
    }
    .content p strong {
        font-size: 1.2rem;
    }
    .content p, .content p em {
        font-size: 1.1rem;
    }
    .content ol li {
        letter-spacing: 0.025rem;
        font-size: 1.2rem;
      }
    
    pre.highlight {
        font-size: .8rem;
    }
    code.highlighter-rouge{
        font-size: 1.1rem;
    }
}


@media only screen and (min-width: 1360px) and (max-width: 1680px) {
    .post-container {
        min-height: 300px;
    }
    .content p, .content p em {
        font-size: 1.3rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    .content h3 {
        font-size: 2.8rem;
    }
    .content h2 {
        font-size: 2.3rem;
    }

    /* .content-text p, .content-text blockquote, .content-text em {
        line-height: 2.4rem;
    } */
    .content h3::before {
        font-size: 5rem;
        margin-left: -40px;
    }
    .content p strong {
        font-size: 1.5rem;
    }
    .content p, .content p em {
        font-size: 1.3rem;
    }
    .content ol li {
        letter-spacing: 0.025rem;
        font-size: 1.2rem;
      }
    
    pre.highlight {
        font-size: .9rem;
    }
    code.highlighter-rouge{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 768px) {
    div.recent-article div a.title {
        font-size: 2rem;
        line-height: 2rem;
    }
    div.recent-article div p {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: .05rem;
    }
    nav .brand-logo {
        font-size: 28px;
    }
}

@media only screen and (max-width: 992px) {
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

/** 404 **/

.f404-wrapper {
    padding-bottom: 4rem;
    border: 1px solid #f8f4f4;
    margin-top: 4rem !important;
    border-radius: 4px;
}

.f404 h1 {
    letter-spacing: 0.05rem;
    color: #787880;
    font-size: 200px;
    text-shadow: -1px 0px 1px rgba(150, 150, 150, 1);
}

.f404 h5 {
    color: #787880;
}

@media only screen and (max-width: 979px) {
    .f404 h1 {
        font-size: 100px;
    }
    .f404 h5 {
        font-size: 16px;
    }
}

/** 404 end **/

/** image banner start **/

@media only screen and (max-width: 768px) {
    .post-img, .post-img-floater {
        height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    .post-img-floater {
        top: 84px;
    }
}

@media only screen and (min-width: 1400px) {
    .post-img, .post-img-floater {
        height: 500px;
    }
    .post-head {
        margin-top: 6rem;
    }
}

/** Image banner end**/