/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
*/






/** ========================**/
 @import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
 @import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');
 @import url('https://fonts.googleapis.com/css?family=Pacifico');
  
 @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

 .oswald-300{
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
 }
  .oswald-400{
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
 }
  .oswald-700{
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
 }

 .gentium-400{
  font-family: 'Gentium Basic', serif;
  font-weight: 400;
 }
  .gentium-700{
  font-family: 'Gentium Basic', serif;
  font-weight: 700;
 }
.pacifo{
    font-family: 'Pacifico', cursive;
}
.pacifo-L{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}
.pt-sans{
  font-fam: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
}
.pt-sans-bold{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

nav ul a,
nav .brand-logo {
  color: #444;

}

nav .brand-logo {
  color: #444;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  z-index: 100;
}
p {
  line-height: 2rem;
}

.nav-wrapper a.side_menu{
    margin-left: 5%;
}
.nav-wrapper a.side_menu i{
  font-size: 30px;
}
.nav-wrapper ul.nav_menu{
  margin-right: 10%;
}





.button-collapse {
  color: #26a69a;
}

.parallax-container {

  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.post-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  padding-left: 3rem;
  padding-right: 3rem;
}
  .parallax-container .section {
    width: 100%;
  }
  .content{
    clear: both;
    margin-bottom: 50px;
    font-size: 1.8rem;
     font-family: 'Gentium Basic', serif;
     text-align: none;

  }
/*add all the content settings here for line height*/
.content-text p, .content-text blockquote, .content-text em{
    line-height: 2.8rem;
}

  #index-banner{
    min-height: 500px;
  }
  #check_nav, #side-card {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
  }



  .user {

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 5px solid grey;

}



.side-card-user{
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 5px solid #f1f1f1;
  
}
.side-card .card-deck span.author{
  padding-right: 2rem; 
  letter-spacing: 0.04rem; 
  margin-left: 1rem;
  font-size: .8rem;
}

.social-connect{
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  padding-right: 1rem;
  color: #f1f1f1;
  position: absolute;
  top: 2rem;
  left: 130px;
}


.user-name{
  font-size: 16px;
  font-family: Oswald;
  margin-left: 50%;

}
.user-social{
  font-size: 13px;
  font-family: Oswald;
  margin-left: 50%;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.one {
  background-image: url('http://placehold.it/350x150');
}

.two {
  background-image: url('http://placehold.it/150x150');
}

.three {
  background-image: url('http://placehold.it/350x750');
}
.read-more{
  font-size: 1rem;
}
.border{ border:1px solid red;}

 .border-bottom
 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
 } 
 .border-bottom-dotted{
   border-bottom: 1px dashed rgba(255,255,255, 0.4);
 }
 .border-bottom-dotted-b{
   border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
 }
  .margin-top-2{
    margin-top: 2rem;
  } 
  .margin-top-5{

    margin-top: 5rem;
  }
  .row .col.padding-bot-2, .margin-bot-2{
    margin-bottom: 2rem;
  }
  .padding-top-2{
    padding-top: 2rem;
  }
  .row .col.padding-bot-1 , .padding-bot-1 {
    padding-bottom: 1rem;
  }
  .padding-bot-2{
    padding-bottom: 2rem;
  }
  .padding-right-1{
    padding-right: 1rem;
  }
  .padding-bot-1{
    padding-bottom: 1rem;
  }
  .font-2{
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .font-4{
    font-size: 4rem;

  }
 .border-trl{
  border-top: 2px dashed #eeeeee;
  border-right: 2px dashed #eeeeee;
  border-bottom: 2px dashed #eeeeee;
 }
 #footer{
  position: absolute;
    bottom: 0;
    width: 100%

    margin: 0 auto;
 }

 .bold{
  font-weight: 800;
 }
div.author-text{
  width: 100px;
  height: 100px;
  background-color: #000 !important;
  border-radius: 50px;
  margin-left: 30%;
}
div.author-text h3{
    padding-left: 15%;
    padding-top: 25px; 
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
div.recent-article div a.title{
  font-size: 4rem;
  letter-spacing: .05rem;
  display: block;
  line-height: 4.1rem;
  margin-top: 1rem;

}
div.top-article div a.title{
  font-size: 2rem;
  letter-spacing: .05rem;
  display: block;
  line-height: 2.5rem;

}
div.top-article div p{
  font-size: 1.3rem;
  letter-spacing: .05rem;
  display: block;
  line-height: 1.5rem;

}

.card-deck{
  padding: 1rem;
  width: 100%; 
  height: 200px;
}

.card-content{
  height: 200px;
  overflow:hidden; 

}

.card-content p{
    font-size: 1.3rem;
}

.side-card{

}
.side-card .card-deck{

  padding: 1rem;
  width: 100%; 
  height: 180px;
}

.side-card-content{
  min-height: 400px;
  height: auto;
  display: table;
}

.side-card-content > a{
  font-size: 2rem;
  padding: 1rem;
  display: block;
}

.side-card-content p a, .top-article p a{
  font-size: .8rem;
}



.side-card-content p{
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

}


.card.left-align{
  float: right;
 
}
.card{
  margin-bottom: 2rem;
}

.escript-text{
  text-align: center;
}
.meta-text{
    font-size: 3rem;
    line-height: .3rem;
}

ul.inline li{
  display: inline;
  margin-left: 2rem;
}
ul.inline li a i{
  margin-right: 1rem;
}



@media only screen and (max-width : 768px) {

.post-head{
  font-size: 3rem;
}
.content p, .content blockquote, .content em{
  font-size: 1.5rem;
}
.content h1{font-size: 2.8rem;}
 .content h2{font-size: 2.4rem;}


div.recent-article div a.title{
  font-size: 2rem;
  line-height: 2rem;

}
div.recent-article div p{
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: .05rem;

}

nav .brand-logo {
  font-size: 28px;

}

}


@media only screen and (max-width : 992px) {

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


