/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/


/** ========================**/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');


.courgettte{
font-family: 'Courgette', cursive;
}
.oswald-300{
font-weight: 300;
font-family: 'Oswald', sans-serif;
}
.oswald-400{
font-weight: 400;
font-family: 'Oswald', sans-serif;
}
.oswald-700{
font-weight: 700;
font-family: 'Oswald', sans-serif;
}

.gentium-400{
font-family: 'Gentium Basic', serif;
font-weight: 400;
}
.gentium-700{
font-family: 'Gentium Basic', serif;
font-weight: 700;
}
.pacifo{
font-family: 'Pacifico', cursive;
}
.pacifo-L{
font-family: 'Pacifico', cursive;
font-size: 2rem;
}
.pt-sans{
font-family: 'PT Sans Narrow', sans-serif;
font-weight: 400;
}
.pt-sans-bold{
font-family: 'PT Sans Narrow', sans-serif;
font-weight: 700;
}

nav .brand-logo {

font-family: 'Pacifico', cursive;
font-size: 40px;
z-index: 100;
text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}


.nav-wrapper a.side_menu{
margin-left: 5%;
}
.nav-wrapper a.brand-logo{
margin-left: 5%;
}
.nav-wrapper a.side_menu i{
font-size: 40px;
}
.nav-wrapper a.side_menu:hover i, a:hover{
color: #006064;
-webkit-transition: color  0.25s ease-in;
transition: color  0.25s ease-in;
}
.nav-wrapper ul.nav_menu{
margin-right: 10%;
}


.button-collapse {
color: #26a69a;
}
.side-nav .background{
  min-height: 200px;
  padding-top: 50px;
}
.background a#sidenav_search{
  position: relative;
  top: 4rem;
  padding: 0 0 0 0 !important;
}


.parallax-container {

line-height: 0;
height: auto;
color: rgba(255,255,255,.9);
}
#topPosts{
  opacity: 0;
-webkit-transition: opacity 2s ease-out;
transition: opacity 2s ease-out;
}
#index-banner{
min-height: 500px;
opacity: 0;
-webkit-transition: opacity 2s ease-out;
transition: opacity 2s ease-out;
}
 .code-wrapper, .fit-wrapper{
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;

}
.subHomeBanner{
  height: 500px;
  opacity: 0;
  -webkit-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.parallax-container .section {
width: 100%;
}
.content{
clear: both;
margin-bottom: 50px;
font-size: 1.6rem;
font-family: 'Gentium Basic', serif;

}
.content-text blockquote{
  font-family: 'PT Sans Narrow', sans-serif; 
}
.content p em{
font-family: 'Courgette', cursive;
}
.content-text h1 , .content-text h2, .content-text h3, .content-text h4, .content-text h5{
font-family: 'PT Sans Narrow', sans-serif; 
font-weight: 700;
}
.content-text h3, .content-text h4, .content-text h5{
  
}

.content .author, .content .readtime, .content .datetime{
  font-size: 1rem;
}
.content .author{
  text-transform: capitalize;
}

/*add all the content settings here for line height*/
.content-text blockquote p .content-text em{
  line-height: 2rem;
}
.content-text p,{
  line-height: 3rem;
}

#check_nav, #side-card, #top-card {
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
}
#top-card:hover{
box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}
.sub_heading{
  letter-spacing: .1rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}



.user {

width: 65px;
height: 65px;
border-radius: 50%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
border: 0px solid black;
}




.side-card-user{
display: inline-block;
width: 120px;
height: 120px;
border-radius: 50%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
border: 5px solid #f1f1f1;

}


.side-card .card-deck span.author{
padding-right: 2rem; 
letter-spacing: 0.04rem; 
margin-left: 1rem;
font-size: .8rem;
}

.social-connect{
border-radius: 5px;
min-width: 200px;
text-align: center;
padding-right: 1rem;
color: #f1f1f1;
position: absolute;
top: 2rem;
left: 130px;
}


.user-name{
font-size: 16px;
font-family: Oswald;
margin-left: 50%;

}
.user-social{
font-size: 13px;
font-family: Oswald;
margin-left: 50%;
font-style: italic;
margin-bottom: 0;
margin-top: 0;
}

.one {
background-image: url('http://placehold.it/350x150');
}

.two {
background-image: url('http://placehold.it/150x150');
}

.three {
background-image: url('http://placehold.it/350x750');
}
.read-more{
font-size: 1rem;
}
.border{ border:1px solid red;}

.border-bottom
{
border-bottom: 1px solid rgba(0, 0, 0, 0.08);
} 
.border-bottom-dotted{
border-bottom: 1px dashed #009688;
}
.border-bottom-dotted-b{
border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
}
.margin-top-2{
margin-top: 2rem;
} 
.margin-top-1{
margin-top: 1rem;
} 
.margin-top-5{

margin-top: 5rem;
}

.row .col.padding-bot-2, .margin-bot-2{
margin-bottom: 2rem;
}
.padding-top-2{
padding-top: 2rem;
}
.row .col.padding-bot-1 , .padding-bot-1 {
padding-bottom: 1rem;
}
.padding-bot-2{
padding-bottom: 2rem;
}
.padding-right-1{
padding-right: 1rem;
}
.padding-bot-1{
padding-bottom: 1rem;
}
.font-2{
font-size: 1.6rem;
line-height: 2rem;
}
.font-4{
font-size: 4rem;

}
.border-trl{
border-top: 2px dashed #eeeeee;
border-right: 2px dashed #eeeeee;
border-bottom: 2px dashed #eeeeee;
}

.card-actions{
 position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: .4rem;
}
.card-actions a{

  font-size: 10px;
  color: #9e9e9e;
  margin-right: 20px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.card-actions > a{
  margin-left: 1rem;
}
.card-actions > a:hover{
  color: #333;
}

.post-meta{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.post-meta  a.author, .post-meta  span.datetime{
  font-size: .9rem;
  letter-spacing: 0.05rem; 
}

.post-meta span.datetime{
  font-size: .7rem;
  margin-top: 0rem;
  padding-top: 0rem;

}




#footer{
position: relative;
bottom: 0;
width: 100%;
}

.bold{
font-weight: 800;
}
div.author-text{
width: 100px;
height: 100px;
background-color: #000 !important;
border-radius: 50px;
margin-left: 30%;
}
div.author-text h3{
padding-left: 15%;
padding-top: 25px; 
letter-spacing: 0.05rem;
text-transform: uppercase;
}
div.recent-article div a.title{
font-size: 4rem;
letter-spacing: .05rem;
display: block;
line-height: 4.1rem;
margin-top: 1rem;

}
div.top-article div a.title{
font-size: 2rem;
letter-spacing: .05rem;
display: block;
line-height: 2.5rem;

}

div.top-article div p{
font-size: 1.3rem;
letter-spacing: .05rem;
display: block;
line-height: 1.5rem;

}

span.timeToRead{
  font-size: .7rem;
  margin-left: 1rem;
}

.section.box{
  padding: 3rem 1rem 2rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0px 1px 0 #DEDADA;
  border-radius: 4px;
}
h1.toc{
  font-size: 1.2rem;
  
}
ul.series li{
  font-size: 1rem;
  padding: 1rem;
  display: block;
  background-color: #f6f6f8;
  margin-bottom: 1rem;
}


.card-deck{
padding: 1rem;
width: 100%; 
min-height: 150px;
}
.card-chip{
  padding-left: 1rem;
  padding-top: 1rem;
}

.card-content{
/*height: 200px;*/
overflow:hidden; 

}

.card-content p{
font-size: 1rem;
}

.side-card{

}
.side-card .card-deck{

padding: 1rem;
width: 100%; 
height: 180px;
}

.side-card-content{
min-height: 400px;
height: auto;
display: table;
}

.side-card-content > a{
font-size: 2rem;
padding: 1rem;
display: block;
}

.side-card-content p a, .top-article p a{
font-size: .8rem;
}



.side-card-content p{
font-size: 1.3rem;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;

}


.card.left-align{
float: right;

}
.card{
margin-bottom: 2rem;
}

.escript-text{
text-align: center;
}
.meta-text{
font-size: 3rem;
line-height: .3rem;
}

ul.inline li{
display: inline;
margin-left: 2rem;
}
ul.inline li a i{
margin-right: 1rem;
}



.icon-block {
padding: 0 15px;
}
.icon-block .material-icons {
font-size: inherit;
}


/** seach related **/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
    z-index: 998;
    background-color: #f1f1f1;
    
    -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}
div.searchContainer{
  height: 450px;
  overflow-y: auto;
}
div.searchContainer .notfound{
  padding: 1rem;
  border-radius: 5px;
}
a.searchItem{
display: block;
padding: .5rem;
border-radius: 5px;
color: #333;
border: 1px solid #ADA1A1;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;

}

a.searchItem:hover{
  background-color: #222;
  color: white;
}


a.searchItem span{
  font-size: 1rem;
  line-height: 1.3rem;
}


/** end search related **/

/** author related .about **/
.author-wrapper{
  position: fixed;
  height: 100% !important;
  width: 100% !important;
  background-color: #f1f1f1;
}

@-webkit-keyframes resize{
  0% { width: 0px; left: 0%;}
  100% { width: 50%; }
}

@keyframes resize{
  0% { width: 0px; left: 150%;}
  100% { width: 50%;  }
}

@keyframes resize-l{
  0% { width: 0px; left: 150%;}
  100% { width: 50%;  }
}

/** for desktop **/
.author-wrapper-right a{
  padding: .5rem;
  margin: 1rem;
  background-color: #f1f1f1;
  display: block;
  border-radius: 5px;
  border-left: 25px solid #222;
  border-right: 25px solid #222;
 
}


@media only screen and (min-width : 980px){

.author-wrapper-left, .author-wrapper-right{
  position: fixed;
  height: 100% !important;
  width: 50%;
  background-color: #f1f1f1;
}

.author-wrapper-right{
  background-color: #111;
  left: 50%;
  width: 50%;
  overflow-y: auto;
   -webkit-animation: resize 1s ;
           animation: resize 1s ;

}

.user-wrapper{

  width: 100%;
}
p.about-me{
  margin-right: 15%;
  margin-left: 15%;
  font-size: 1.2rem;
}
ul.user-contact{
 width: 50%;
 margin-left: 25%;
}
ul.user-contact li{
  display: inline;
  padding: 1rem;
}
.user-image {

  width: 200;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid black;

}

.back-home{
  margin-top: 5rem;
}

}

/** for mobile **/
@media only screen and (max-width : 979px){



  .author-wrapper-left, .author-wrapper-right{
  position: relative;
  min-height: 400px;
  width: 100% !important;
  background-color: #f1f1f1;
 }
 .author-wrapper-right{
   height: 400px;
   background-color: #333;
 }
.user-wrapper{

  width: 100%;
}
p.about-me{
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.2rem;
}
ul.user-contact{
 width: 80%;
 margin-left: 25%;
}
ul.user-contact li{
  display: inline;
  padding: 1rem;
}
.user-image {

  width: 120;
  height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid black;
  margin-left: 40%;

}
.back-home{
  margin-right: 2rem;
}

}


@-webkit-keyframes resize-image{
  0% { width: 120px; height: 120px;}
  100% { width: 200px; height: 200px;  }
}


@keyframes resize-image{
  0% { width: 120px; height: 120px;}
  100% { width: 200px; height: 200px;  }
}



.dope {
  position: fixed;
  width: 50%;   
  height: 100% !important;
  left: 50%;
  background: #f1f1f1;
  -webkit-animation: resize 1s ; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation:         resize 1s ; /* IE 10+, Fx 29+ */
}
.about-user {
  width: 50%;   
  left: 50%;
  background: #f1f1f1;
}

/** end author related **/


@media only screen and (max-width : 360px) {


.post-container {
min-height: 200px;
}

.content p, .content blockquote, .content em{
font-size: 1.2rem;
}
.content h1{font-size: 2.2rem; }
.content h3{font-size: 2.1rem;}
.content h2{font-size: 1.7rem; }
.content-text p, .content-text blockquote, .content-text em{
line-height: 1.8rem;
}

}
@media only screen and (min-width : 361px) and (max-width : 768px){

.post-container {
min-height: 300px;
}

.content p, .content blockquote, .content em{
font-size: 1.6rem;
}
.content h1{font-size: 3rem; }
.content h1{font-size: 2.5rem; }
.content h2{font-size: 2.3rem; }
.content-text p, .content-text blockquote, .content-text em{
line-height: 2.4rem;

}

}

@media only screen and (max-width : 768px) {

div.recent-article div a.title{
font-size: 2rem;
line-height: 2rem;

}
div.recent-article div p{
font-size: 1.5rem;
line-height: 2rem;
letter-spacing: .05rem;

}

nav .brand-logo {
font-size: 28px;
}

}


@media only screen and (max-width : 992px) {

#index-banner .section {
top: 10%;
}
}

@media only screen and (max-width : 600px) {
#index-banner .section {
top: 0;
}
}

