/* Custom Stylesheet */


/** ========================**/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
/* @import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700'); */

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700|Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:600');
.font-48 {
  font-size: 48px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-64 {
  font-size: 64px !important;
}

.font-86 {
  font-size: 86px !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.robot-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.robot-slab {
  font-family: 'Roboto Slab', serif;
}

.code-font {
  font-family: 'Overpass Mono', monospace;
}

.pacifo {
  font-family: 'Pacifico', cursive;
}

.pacifo-L {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.pt-sans {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
}

.pt-sans-bold {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.notoserif_italic {
  font-family: 'Noto Serif', serif;
}

.font-slabo27 {
  font-family: 'Slabo 27px', serif;
}

nav .brand-logo {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  z-index: 100;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.nav-wrapper a.side_menu {
  margin-left: 5%;
}

.nav-wrapper a.brand-logo {
  margin-left: 5%;
}

.nav-wrapper a.side_menu i {
  font-size: 40px;
}

.nav-wrapper a.side_menu:hover i, a:hover {
  color: #006064;
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

.nav-wrapper ul.nav_menu {
  margin-right: 10%;
}

.button-collapse {
  color: #26a69a;
}

.side-nav .background {
  min-height: 200px;
  padding-top: 50px;
}

.background a#sidenav_search {
  position: relative;
  top: 4rem;
  padding: 0 0 0 0 !important;
}

img {
  width: 100%;
  height: auto;
}

.parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

span.catagory-links {
  color: white;
  background-color: #222;
  padding: .35rem .50rem .35rem .5rem;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  -webkit-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}

.banner-subheading {
  font-size: 1rem;
  text-transform: capitalize;
  font-family: 'PT Sans Narrow', sans-serif;
  padding-left: 2rem;
  font-weight: 700;
}

#topPosts {
  opacity: 0;
  -webkit-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

#index-banner {
  min-height: 500px;
  opacity: 0;
  -webkit-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.code-wrapper, .fit-wrapper {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.subHomeBanner {
  height: 500px;
  opacity: 0;
  -webkit-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
}

.parallax-container .section {
  width: 100%;
}


div.highlighter-rouge{
  border-bottom: 5px solid rgb(194, 192, 192);
}
.content {
  clear: both;
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif;
  padding-top: 2rem;
}

.content p {
  letter-spacing: 0.025rem;
  font-size: 1.5rem;
}

.content p strong {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
}

.content ol li {
  letter-spacing: 0.025rem;
  font-size: 1.5rem;
}

.content p em {
  font-size: 1.5rem;
  color: #333;
  font-weight: 400;
  /* font-family: 'Noto Serif', serif; */
  /* font-weight: 400; */
}

.content h3::before {
  content: '#';
  font-size: 8rem;
  position: absolute;
  color: #9e9e9e;
  opacity: .4;
  margin-left: -60px;
}

.post-img {
  position: relative;
  width: 100%;
  height: 400px;
}

.post-img:hover {}

.post-img-floater {
  position: absolute;
  top: 94px;
  background-color: rgba(5, 5, 5, 0.4);
  height: 400px;
  padding-top: 1rem !important;
}

.content-text blockquote {}

.content-text h1, .content-text h2, .content-text h3, .content-text h4, .content-text h5 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.content-text h3, .content-text h4, .content-text h5 {}

.content .author, .content .readtime, .content .datetime {
  font-size: 1rem;
}

.author {
  text-transform: capitalize;
}

/*add all the content settings here for line height*/

.content-text blockquote p .content-text em {
  line-height: 2rem;
}

.content-text p, {
  line-height: 3rem;
  font-size: 2rem;
}

#check_nav, #side-card, #top-card {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
}

#top-card:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

.sub_heading {
  letter-spacing: .1rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.user {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 4px solid #ddd;
  padding: .1rem;
}

.side-card-user {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 5px solid #f1f1f1;
}

.side-card .card-deck span.author {
  padding-right: 2rem;
  letter-spacing: 0.04rem;
  margin-left: 1rem;
  font-size: .8rem;
}

.social-connect {
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  padding-right: 1rem;
  color: #f1f1f1;
  position: absolute;
  top: 2rem;
  left: 130px;
}

.user-name {
  font-size: 16px;
  font-family: Oswald;
  margin-left: 50%;
}

.user-social {
  font-size: 13px;
  font-family: Oswald;
  margin-left: 50%;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.one {
  background-image: url('http://placehold.it/350x150');
}

.two {
  background-image: url('http://placehold.it/150x150');
}

.three {
  background-image: url('http://placehold.it/350x750');
}

.read-more {
  font-size: 1rem;
}

.border {
  border: 1px solid red;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.border-bottom-dotted {
  border-bottom: 1px dashed #009688;
}

.border-bottom-dotted-b {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.row .col.padding-bot-2, .margin-bot-2 {
  margin-bottom: 2rem;
}

.padding-top-2 {
  padding-top: 2rem;
}

.row .col.padding-bot-1, .padding-bot-1 {
  padding-bottom: 1rem;
}

.padding-bot-2 {
  padding-bottom: 2rem;
}

.padding-right-1 {
  padding-right: 1rem;
}

.padding-bot-1 {
  padding-bottom: 1rem;
}

.font-2 {
  font-size: 1.6rem;
  line-height: 2rem;
}

.font-4 {
  font-size: 4rem;
}

.border-trl {
  border-top: 2px dashed #eeeeee;
  border-right: 2px dashed #eeeeee;
  border-bottom: 2px dashed #eeeeee;
}

.card-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: .4rem;
}

.card-actions a {
  font-size: 10px;
  color: #9e9e9e;
  margin-right: 20px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.card-actions>a {
  margin-left: 1rem;
}

.card-actions>a:hover {
  color: #333;
}

.post-meta {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.post-meta a.author, .post-meta span.datetime {
  font-size: .9rem;
  letter-spacing: 0.05rem;
}

.post-meta span.datetime {
  font-size: .7rem;
  margin-top: 0rem;
  padding-top: 0rem;
}

.bold {
  font-weight: 800;
}

div.author-text {
  width: 100px;
  height: 100px;
  background-color: #000 !important;
  border-radius: 50px;
  margin-left: 30%;
}

div.author-text h3 {
  padding-left: 15%;
  padding-top: 25px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

div.recent-article div a.title {
  font-size: 4rem;
  letter-spacing: .05rem;
  display: block;
  line-height: 4.1rem;
}

div.top-article div a.title {
  font-size: 2rem;
  letter-spacing: .05rem;
  display: block;
  line-height: 2.5rem;
}

div.top-article div p {
  font-size: 1.3rem;
  letter-spacing: .05rem;
  display: block;
  line-height: 1.5rem;
}

span.timeToRead {
  font-size: .7rem;
  margin-left: 1rem;
}

.section.box {
  padding: 3rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0px 1px 0 #9e9e9e;
  border-radius: 4px;
}

.toc-wrapper {
  min-height: 500px;
  margin-top: 10px;
  padding-left: 40%;
  padding-right: 2%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

h1.toc {
  font-size: 1.2rem;
  text-align: center;
}

ul.category li {
  font-size: .9rem;
  display: block;
  margin-bottom: 1rem;
  /*background-color: rgba(0,0,0,0.2);*/
  /* padding: 1rem; */
  padding-right: 1rem;
  float: left;
}

ul.category li a:before {
  content: "";
  display: block;
  font-size: 20px;
  background: url("../images/list.svg") no-repeat 100% 10%;
  width: 32px;
  height: 50px;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  padding-top: 0px;
}

ul.category li a {
  letter-spacing: 0.025rem;
  display: block;
}



.card-deck {
  padding: 1rem;
  width: 100%;
  min-height: 150px;
}

.card-chip {
  padding-left: 1rem;
  padding-top: 1rem;
  border-radius: 5px 5px 0px 0px;
}

.card-content {
  /*height: 200px;*/
  overflow: hidden;
}

.card-content p {
  font-size: 1rem;
}

.side-card {}

.side-card .card-deck {
  padding: 1rem;
  width: 100%;
  height: 180px;
}

.side-card-content {
  min-height: 400px;
  height: auto;
  display: table;
}

.side-card-content>a {
  font-size: 2rem;
  padding: 1rem;
  display: block;
}

.side-card-content p a, .top-article p a {
  font-size: .8rem;
}

.cchip {
  background-color: transparent !important;
  font-weight: 400 !important;
  color: #f1f1f1 !important;
  letter-spacing: 0.025rem;
  text-transform: capitalize;
}

.side-card-content p {
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.card.left-align {
  float: right;
}

.card {
  margin-bottom: 2rem;
}

.escript-text {
  text-align: center;
}

.meta-text {
  font-size: 3rem;
  line-height: .3rem;
}

ul.inline li {
  display: inline;
  margin-left: 2rem;
}

ul.inline li a i {
  margin-right: 1rem;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/** seach related **/

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
  z-index: 998;
  background-color: #f1f1f1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.searchContainer {
  height: 450px;
  overflow-y: auto;
}

div.searchContainer .notfound {
  padding: 2rem;
  border-radius: 5px;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  color: #f1f1f1;
  letter-spacing: 0.025rem;
  font-size: 1rem;
}

a.searchItem {
  display: block;
  padding: .5rem;
  border-radius: 5px;
  color: #333;
  border: 1px solid #ADA1A1;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

a.searchItem:hover {
  background-color: #222;
  color: white;
}

a.searchItem span {
  font-size: 1rem;
  line-height: 1.3rem;
}

/** end search related **/

/** author related .about **/

@-webkit-keyframes resize {
  0% {
    width: 0px;
    left: 0%;
  }
  100% {
    width: 50%;
  }
  75% {
    widht: 35%;
  }
}

@keyframes resize {
  0% {
    width: 0%;
    left: 0%;
  }
  100% {
    width: 50%;
    left: 50%;
  }
  75% {
    widht: 35%;
  }
}

@-webkit-keyframes resize-l {
  0% {
    width: 0px;
    left: 150%;
    opacity: 0;
  }
  100% {
    width: 50%;
    opacity: .9;
  }
}

@keyframes resize-l {
  0% {
    width: 0px;
    left: 150%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes opa {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    border-width: 0;
  }
  100% {
    opacity: .9;
    width: 250px;
    height: 250px;
    border-width: 10px;
  }
}

@keyframes opa {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    border-width: 0;
  }
  100% {
    opacity: .9;
    width: 250px;
    height: 250px;
    border-width: 10px;
  }
}

@-webkit-keyframes text-opa {
  0% {
    font-size:  0;
  }
  100% {
    font-size: 18px;
  }
}

@keyframes text-opa {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 18px;
  }
}


.about-user {
  width: 50%;
  left: 50%;
  background: #f1f1f1;
}