:root {
    --pref-top: 0%;
}

@keyframes slideInLeft {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

@keyframes revSlideInLeft {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes slideInTop {
    from {
        bottom: -60%;
    }
    to {
        bottom: var(--pref-top);
    }
}

@keyframes revSlideInTop {
    from {
        bottom: var(--pref-top);
    }
    to {
        bottom: -60%;
    }
}

.slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 0.5s;
}

.revSlideInLeft {
    animation-name: revSlideInLeft;
    animation-duration: 0.5s;
}

.slideInTop {
    animation-name: slideInTop;
    animation-duration: 0.5s;
}

.revSlideInTop {
    animation-name: revSlideInTop;
    animation-duration: 0.5s;
}
