
<div class="grey lighten-3 " id="allPosts">
<div class="container">
<div class="section ">

	<div class="col s12 m12 pt-sans  border-bottom-dotted " 
			style="padding-bottom: 1rem; margin-bottom: 3rem; border-color: #009688 !important;">
	<h5 class="teal-text darken-3 pacifo" style="font-size: 2rem;">All of them Together</h5>
	</div>
</div>

<div class="row">
{% for collection in site.collections %}
 
{% assign colsname  = collection.label  %}
{% assign items = site.[colsname] | sort: 'date' | reverse %}

{% for post in items %}
 <div class="col s12 m4">
	          <div class="card hoverable" >
	            <div class="card-deck  valign-wrapper {{post.bannercolor}}">

	              <a class="card-title valign pt-sans white-text" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
	            </div>
	            <div class="card-content pt-sans">
	              <p>{{post.meta}}</p>
	            </div>
	            
	          </div>
	        </div>

{% endfor %}
{% endfor %}

</div>
<!-- o be used for pagination later
<div class="row ">
	<div class="col s12 m12  ">
		<a class="waves-effect waves-light btn " style="width: 50%; margin-left: 25%;">load more posts</a>
	</div>
</div>
-->

</div>

</div>

<!--


-->
