<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#333"
    },
    "button": {
      "background": "#333333"
    }
  },
  "position": "bottom-right",
  "content": {
    "message": "Hey there, Thank you for visiting by...\n\n\n <b>initgrep.com</b> uses cookies to ensure you get best experience.",
    "link": "check our privacy policy",
    "href": "https://www.freeprivacypolicy.com/privacy/view/45d4583efa7b94a6561a193611ee4104"
  }
})});
</script>