<title>{%if page.title %}{{ page.title }} - {{ site.title }}  {% else %}{{ site.title }}{% endif %}</title>
<meta itemprop="description" name="description" content="{% if page.meta %}{{ page.meta | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url | append: site.baseurl }}{{ page.url }}">
<meta property="og:image" content="{{ site.url | append: site.baseurl }}/assets/images/{%if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
<meta property="og:site_name" content="{{site.title}}">
<meta property="article:publisher" content="http://www.facebook.com/{{site.facebook.username}}" />
<meta property="article:author" content="https://www.facebook.com/{{page.facebook}}" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.meta %}{{ page.meta | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
<link rel="canonical" href="{{ site.url | append: site.baseurl }}{{ page.url }}" />

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@{{site.twitter.username}}" />
<meta name="twitter:creator" content="@{{page.twitter}}">
<meta name="twitter:title" content="{%if page.title %}{{ page.title }} - {{ site.title }}  {% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.meta %}{{ page.meta | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}">
<meta name="twitter:image" content="{{ site.url | append: site.baseurl }}/assets/images/{%if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">


<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{%if page.title %}{{ page.title }} - {{ site.title }}  {% else %}{{ site.title }}{% endif %}",
    "image": "{{ site.url | append: site.baseurl }}/assets/images/{%if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}",
    "datePublished": "{{page.date}}",
    "dateCreated": "{{page.date}}",
    "inLanguage": "en-US",
    "isFamilyFriendly": "true",
    "description": "{% if page.meta %}{{ page.meta | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}",
    "publisher": {"@type": "Organization",
        "url": "{{ site.url | append: site.baseurl }}{{ page.url }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ site.url | append: site.baseurl }}/assets/images/{%if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}"
        },
        "author": {
            "@type": "Person",
            "name": "{{page.author}}",
            "url": "{{ site.url | append: site.baseurl }}"
        }
    }
}
</script>