<div class="section subHomeBanner grey lighten-3">
<div class="container  ">

{% assign collection = {{include.currentCollection}}%}

{% for post in collection limit: 1 %}

  <div class="row" style="padding-top: 4rem;">
    <div class="col s12 m10 " style="padding-left: 2rem;">

      <span class="teal-text  pt-sans">Recent Post</span>
    </div>
    <div class="col s12 m12 recent-article ">
      <div class="icon-block">

        <a href ="{{site.baseurl}}{{post.url}}" class="title pt-sans-bold  black-text ">{{post.title}}
          <span class="grey-text darken-2 pt-sans-bold timeToRead" >{% include util/minRead.liquid content= post.content  %}  read</span>
        </a>

          <p class=" black-text margin-top-2 pt-sans font-2">{{post.meta}} 
          <a href ="{{site.baseurl}}{{post.url}}" class="teal-text" > ... read more </a>
          </p>

      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>