{% include head.html %}
{% include nav.html %}
<div class="author-wrapper">

	<div class="author-wrapper-left valign-wrapper">
		<div class="user-wrapper valign">
			<div class="row">
				<div class="col s10 m4 l4 offset-m3 offset-l3 ">
					<img class="user-image " src="{{site.baseurl}}/assets/images/as.jpg" />
				</div>
			</div>
		<p class="about-me pt-sans black-text">Hi, this is irshad ahmad sheikh. yet another text content that should be centered verticallyyet another text content that should be centeredy</p>
			<p class="about-me pt-sans black-text">Please feel free to reach me @</p>
			<ul class="user-contact">

				<li><a href="#"><img src="{{site.baseurl}}/assets/images/twitter.png" width="30" height="30"></a></li>
				<li><a href="#"><img src="{{site.baseurl}}/assets/images/github.png" width="30" height="30"></a></li>
				<li><a href="#"><img src="{{site.baseurl}}/assets/images/linkedin.png" width="70" height="25"></a></li>
					
			</ul>
			
			
		</div>
	</div>
	<div class="author-wrapper-right ">
		 <div class="row">	
	    	<div class="col s12 m12">
	    		<h5 class="pt-sans white-text">posts by me</h5>
	    	</div>
	    	</div>
		 <div class="row">	
	    	<div class="col s12 m12">
{% for collection in site.collections %}
{% assign colsname  = collection.label  %}
{% if colsname != 'authors'%} 
{% assign items = site.[colsname] | sort: 'date' | reverse %}
{% for post in items  %}
{% if post.author  == 'irshad ahmad sheikh'%}

	    		<a class="black-text pt-sans" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
{% endif %}
		
  {% endfor %}
  {% endif %}
  {% endfor %}

	    	</div>
	
		</div>
</div>
 

{% include search/search.html%}
{% include scripts/baseScript.html%}