{% include head.html %}
{% include nav.html %}
<div class=" content " style="padding-top: 4rem;">
<div class="row" style="margin-bottom: 0;">
  <div class="col s10 m10 l8 offset-m1 offset-s1 offset-l2 ">
    <div class="row " style="margin-bottom: 0px;">
      <div class="col s6 m6 l6">
        <div class="col  m3 l2 hide-on-small-only ">
                   {% include util/insertDp.liquid name = page.author  class = "user" %}
        </div>
        <div class="col s12 m9 l8  margin-top-1">
          <a  href="{{site.baseurl}}/about/{{page.author}}" class="grey-text  pt-sans author" style="display: block;">{{page.author }}</a>
          <a class="grey-text pt-sans datetime ">{{page.date | date: '%B %d, %Y'}}</a>         
        </div>
      </div>
    <div class="col s6 m6 l6">
      <div class="col s12 m4 right  margin-top-2">
          <span class="grey-text right pt-sans readtime" >{% include util/minRead.liquid content =  page.content  %} read</span> 
      </div>
    </div>
    </div>
  </div>
</div>
  <div class="row">
     <div class="col s10 m10 l8 offset-m1 offset-s1 offset-l2 ">
            <h1 class="valign post-head center black-text pt-sans-bold">{{page.title}}</h1>
    </div>
  </div>
  <div class="row">
  <div class="col s12 m10 l3  offset-m1 ">
  <!-- adding the collections title part here -->
  {% include series/series.html currentCollection = site.codeCollection %}

  </div>
  <div class="  col s10 m10 offset-m1 offset-s1 l6 ">
 
   <div class=" content-text col s12 m12 l12 ">{{ content }}</div>
   <div class=" col s12 m12 l12 "> {% include util/disqus.html %}</div>
   

   </div>
  <div class="col s12 m12 l3 "><!--empty for now--></div>
  </div>

</div>

{% include footer.html %}



