{% include v2/head.html %}
{% include v2/header.html %}

<div class="container-fluid">

    <div class="row pt-xs-5 pt-sm-2 pt-lg-5">

        {%  include v2/sidenav.html %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9  col-xl-9  content-component">

            <div class="row ">
                {% include v2/topcard.html %}

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-7 ">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 ">
                            {% include v2/top-posts.html %}
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 "></div>
                    </div>

                </div>

                {%include v2/all-posts.html %}

            </div>


        </div>
    </div>
</div>

</div>




</body>

</html>