{% include head.html %}

<div class="container-fluid">
    <!--START NAV-->
    <div class="row pt-3">
        <div class="col-3  ">
            <a class="navbar-brand" href="#">>_ init | grep</a>
        </div>
        <div class="col-9 col-lg-5 ">
            <div class="input-group mb-3 search-component">
                <input type="text" class="form-control form-control-lg pl-3 shadow-sm" placeholder="search"
                    aria-label="search" aria-describedby="search initgrep">
                <div class="input-group-append">
                    <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END NAV-->
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-3  menu-component">
            <!-- menu list-->
            <ul class="list-group list-group-flush  ml-4">
                <li class="list-group-item mx-5 my-1">
                    <a href="#">
                        <i class="fas fa-scroll"></i>
                        <span class="menu-label pl-2">All Posts</span>
                    </a>
                </li>
                <li class="list-group-item mx-5 my-1">
                    <a href="#">
                        <i class="fab fa-js-square"></i>
                        <span class="menu-label pl-2">Javascript</span>
                    </a>
                </li>
                <li class="list-group-item mx-5 my-1">
                    <a href="#">
                        <i class="fab fa-js-square"></i>
                        <span class="menu-label pl-2">Typescript</span>
                    </a>
                </li>
                <li class="list-group-item mx-5 my-1">
                    <a href="#">
                        <i class="fas fa-paint-roller"></i>
                        <span class="menu-label pl-2">Design patterns</span>
                    </a>
                </li>
                <li class="list-group-item mx-5 my-1">
                    <a href="#">
                        <i class="fab fa-angular"></i>
                        <span class="menu-label pl-2">Angular</span>
                    </a>
                </li>
                <li class="list-group-item mx-5 my-1">
                    <a href="#">
                        <i class="fab fa-angular"></i>
                        <span class="menu-label pl-2">AngularJs</span>
                    </a>
                </li>
                <li class="list-group-item mx-5 my-1">
                    <a href="#">
                        <i class="fab fa-java"></i>
                        <span class="menu-label pl-2">Java</span>
                    </a>
                </li>
            </ul>


        </div>
        <div class="col-lg-8 border">content</div>
    </div>

</div>


</body>

</html>