{% include head.html %}

<div class="container-fluid">
    <!--START Header-->
    <div class="row py-3">
        <div class="col-4 col-sm-4 col-md-3 col-lg-3 py-2 brand-component ">
            <a class="brand " href="#" alt=""> >_ init | grep</a>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-4 search-col">
            <div class="input-group  search-component ">
                <input type="text" class="form-control form-control-lg pl-3 " placeholder="search"
                    aria-label="search initgrep" aria-describedby="search initgrep">
                <div class="input-group-append">
                    <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
                </div>

            </div>
        </div>
        <div class="col-6 col-sm-7 col-md-7 col-lg-4  d-lg-none">

            <div class="setting-wrapper float-right py-2">
                <span>
                    <i class="fas fa-sliders-h"></i>
                </span>
                <div class="basic-overlay">as</div>
                <div class="setting-overlay">
                    setting overlay

                </div>

            </div>

            <div class="search-wrapper float-right  py-2">
                <span>
                    <i class="fas fa-search"></i>
                </span>
                <div class="basic-overlay">as</div>
                <div class="search-overlay ">


                </div>
            </div>
        </div>
    </div>

</div>
<!--END HEADER-->
<div class="container-fluid">

    <div class="row pt-xs-5 pt-sm-2 pt-lg-5">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 h-100 menu-component  ">
            <!-- menu list-->
            <nav>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item my-1">
                        <a href="#">
                            <i class="far fa-newspaper"></i>
                            <span class="menu-label  ">Home</span>
                        </a>
                    </li>
                    <li class="list-group-item  my-1">
                        <a href="#">
                            <i class="fab fa-js-square"></i>
                            <span class="menu-label ">Javascript</span>
                        </a>
                    </li>
                    <li class="list-group-item  my-1 active">
                        <a href="#">
                            <i class="fab fa-js-square"></i>
                            <span class="menu-label  ">Typescript</span>
                        </a>
                    </li>
                    <li class="list-group-item  my-1">
                        <a href="#">
                            <i class="fas fa-paint-roller"></i>
                            <span class="menu-label ">Design</span>
                        </a>
                    </li>
                    <li class="list-group-item  my-1">
                        <a href="#">
                            <i class="fab fa-angular"></i>
                            <span class="menu-label ">Angular</span>
                        </a>
                    </li>
                    <li class="list-group-item  my-1">
                        <a href="#">
                            <i class="fab fa-angular"></i>
                            <span class="menu-label ">AngularJs</span>
                        </a>
                    </li>
                    <li class="list-group-item  my-1">
                        <a href="#">
                            <i class="fab fa-java"></i>
                            <span class="menu-label ">Java</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <aside>
                <ul class="list-group list-group-flush setting-component  ">
                    <li class="list-group-item my-1">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="nightSwtich">
                            <label class="custom-control-label" for="nightSwtich">Night mode</label>
                        </div>
                    </li>
                </ul>

                <ul class="list-group list-group-flush social-component  ">
                    <li class="list-group-item my-1">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-group-item my-1">
                        <a href="#">
                            <i class="fab fa-medium"></i>
                        </a>
                    </li>
                    <li class="list-group-item my-1">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-group-item my-1">
                        <a href="#">
                            <i class="fab fa-dev"></i>
                        </a>
                    </li>
                </ul>

            </aside>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9  col-xl-9  content-component">

            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  col-xl-5 ">

                    <div class="card top-card">
                        <img class="card-img-top img-fluid" src="/assets/images/biglogo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-meta">
                                <a href="#">
                                    <small class="text-user">irshsheikh</small>
                                </a>
                                <small class="text-filler">in</small>
                                <small class="text-category">
                                    <a href="#">angular</a> </small>
                                <small class=" read-time">5 min read</small>

                            </p>
                            <h5 class="card-title">
                                <a href="#">Create Microsoft Office addins using Angular@8.0 CLI</a>
                            </h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer. which could be three line tall
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 col-xl-7 ">
                    <div class="row">

                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 top-post-component ">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item top-heading  px-1 pt-1">
                                    <div class="media">
                                        <div class="media-body">
                                            <i class="fas fa-meteor"></i>
                                            <span>Latest posts</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" alt="">
                                        <div class="media">
                                            <img class="align-self-center"
                                                src="../assets/images/Criteria-object-UML.png"
                                                alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="mt-0">JPA</h5>
                                                <p>Select values in criteria query - select, multiselect, tuple query
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">
                                        <div class="media">
                                            <img class="align-self-center" src="../assets/images/cmplink.jpg"
                                                alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="mt-0">Groovy</h5>
                                                <p>Programmatic Criteria Queries using JPA Criteria API</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">
                                        <div class="media">
                                            <img class="align-self-center" src="../assets/images/pub-sub.jpg"
                                                alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="mt-0">AngularJs</h5>
                                                <p>AngularJs Directive - compile and link function</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">
                                        <div class="media">
                                            <img class="align-self-center" src="../assets/images/ts.jpeg"
                                                alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="mt-0">Typescript</h5>
                                                <p>Learn TypeScript fundamentals in 60-ish minutes - part(1) </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">Empty space</div>
                    </div>

                </div>
                <div class="col-12  col-md-11 col-lg-9 my-md-5  sub-content-component">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4  my-1 my-md-3">
                            <div class="app-card">
                                <div class="app-card-poster">
                                    <img src="../assets/images/biglogo.jpg" alt="">
                                </div>

                                <div class="app-card-meta">
                                    <a href="#">
                                        <small class="text-user">irshsheikh</small>
                                    </a>
                                    <small class="text-filler">in</small>

                                    <a href="#">
                                        <small class="text-category">Angular</small>
                                    </a>
                                    <small class=" read-time">5 min read</small>
                                </div>
                                <div class="app-card-body">
                                    <h5><a href="#">An untitled card to vow the users </a></h5>
                                    <!-- <p> some desription about the meta and further thing e desription about the meta and
                                        further thing some desription about the meta and further thing ome desription
                                        about the meta and further thin

                                    </p> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4  my-1 my-md-3">
                            <div class="app-card">
                                <div class="app-card-poster">
                                    <img src="../assets/images/biglogo.jpg" alt="">
                                </div>

                                <div class="app-card-meta">
                                    <a href="#">
                                        <small class="text-user">irshsheikh</small>
                                    </a>
                                    <small class="text-filler">in</small>

                                    <a href="#">
                                        <small class="text-category">Angular</small>
                                    </a>
                                    <small class=" read-time">5 min read</small>
                                </div>
                                <div class="app-card-body">
                                    <h5><a href="#">An untitled card to vow the users </a></h5>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4  my-1 my-md-3">
                            <div class="app-card">
                                <div class="app-card-poster">
                                    <img src="../assets/images/biglogo.jpg" alt="">
                                </div>

                                <div class="app-card-meta">
                                    <a href="#">
                                        <small class="text-user">irshsheikh</small>
                                    </a>
                                    <small class="text-filler">in</small>

                                    <a href="#">
                                        <small class="text-category">Angular</small>
                                    </a>
                                    <small class=" read-time">5 min read</small>
                                </div>
                                <div class="app-card-body">
                                    <h5><a href="#">An untitled card to vow the users </a></h5>
                                    <!-- <p> some desription about the meta and further thing e desription about the meta and
                                                further thing some desription about the meta and further thing ome desription
                                                about the meta and further thin
        
                                            </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4  my-1 my-md-3">
                            <div class="app-card">
                                <div class="app-card-poster">
                                    <img src="../assets/images/biglogo.jpg" alt="">
                                </div>

                                <div class="app-card-meta">
                                    <a href="#">
                                        <small class="text-user">irshsheikh</small>
                                    </a>
                                    <small class="text-filler">in</small>

                                    <a href="#">
                                        <small class="text-category">Angular</small>
                                    </a>
                                    <small class=" read-time">5 min read</small>
                                </div>
                                <div class="app-card-body">
                                    <h5><a href="#">An untitled card to vow the users </a></h5>
                                    <!-- <p> some desription about the meta and further thing e desription about the meta and
                                                    further thing some desription about the meta and further thing ome desription
                                                    about the meta and further thin
            
                                                </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4  my-1 my-md-3">
                            <div class="app-card">
                                <div class="app-card-poster">
                                    <img src="../assets/images/biglogo.jpg" alt="">
                                </div>

                                <div class="app-card-meta">
                                    <a href="#">
                                        <small class="text-user">irshsheikh</small>
                                    </a>
                                    <small class="text-filler">in</small>

                                    <a href="#">
                                        <small class="text-category">Angular</small>
                                    </a>
                                    <small class=" read-time">5 min read</small>
                                </div>
                                <div class="app-card-body">
                                    <h5><a href="#">An untitled card to vow the users </a></h5>
                                    <!-- <p> some desription about the meta and further thing e desription about the meta and
                                                        further thing some desription about the meta and further thing ome desription
                                                        about the meta and further thin
                
                                                    </p> -->
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

</div>
<!-- MENU and TOP cards END-->
<div class="container " style="height: 200px;">
    asdsad
</div>


</body>

</html>