{% include v2/head.html %}
{% include v2/header.html %}

<div class="container-fluid pt-3 pt-md-4 ">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 h-100  menu-component ">
            {%  include v2/sidenav.html type = page.type %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 content-component">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7  pl-lg-5">
                    {% include v2/topcard.html %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    {% include v2/top-posts.html %}
                </div>
                <div class="col-12 col-lg-11 px-lg-5 ">
                    {%include v2/all-posts.html %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include v2/footer.html %}
</body>

</html>