
{% assign codeSorted = (site.codeCollection | sort: 'date') | reverse %}
{% assign fitSorted = (site.fitnessCollection | sort: 'date') | reverse %}

{% include head.html %}
{% include nav.html %}
{% include home/banner.html %}
   <!-- catagories content -->
<div class="section grey lighten-5">

{% include home/topPosts.html %}
<div class="code-wrapper">
{% include home/catagory.html 
	cc = codeSorted 
	label = "code" 
	bgColor = "grey lighten-3" 
	cardColor =  "white" 
	url = '/posts/code' 
 %}
</div>
<div class="fit-wrapper">
{% include home/catagory.html 
	cc = fitSorted 
	label = "health and fitness" 
	bgColor = "white" 
	cardColor = "blue-grey lighten-5"
	url = "/posts/fitness" 
%}

{% include  home/fixedIcon.html %}
</div>

</div> <!--container -->

{% include footer.html %}