{% assign techSorted = (site.techCollection | sort: 'date') | reverse %}
{% assign codeSorted = (site.codeCollection | sort: 'date') | reverse %}
{% assign fitSorted = (site.fitnessCollection | sort: 'date') | reverse %}
{% assign lifeSorted = (site.lifeCollection | sort: 'date') | reverse %}

{% include head.html %}
{% include nav.html %}
{% include home/banner.html %}
   <!-- catagories content -->
<div class="section grey lighten-5">

{% include home/topPosts.html %}
{% include home/catagory.html cc = codeSorted label = "in coding" bgColor = "grey lighten-3" url = '/posts/code'  %}
{% include home/catagory.html cc = techSorted label = "in technology" bgColor = "" url = "/posts/tech"  %}
{% include home/catagory.html cc = fitSorted label = "health and fitness" bgColor = "grey lighten-2" url = "/posts/fitness" %}
{% include  home/fixedIcon.html %}


</div> <!--container -->

{% include footer.html %}