{% include v2/head.html %}
{% include v2/header.html %}

<div class="container-fluid">

    <div class="row pt-xs-5 pt-sm-2 pt-lg-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 h-100  menu-component ">
            {%  include v2/sidenav.html %}
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-10 content-component">
            <div class="row ">
                <div class="col-12 col-lg-7 col-xl-7 pl-lg-5 ">
                    <div class="row page-component">
                        <div class="col-11 page-header ">
                            <small class="read-time">
                                <i class="fas fa-stopwatch pr-1"></i>
                                {% include util/minRead.liquid content= page.content  %}
                                read</small>

                            <img src=" {% include util/insertDp-v2.liquid name = page.author %}"
                                 alt="profile image">
                            <div class="page-header-meta">
                                <a href="{{site.baseurl}}/about/{{page.author}}"><small>{{page.author}}</small></a>
                                <small>{{page.date | date: '%B %d, %Y'}}</small>
                            </div>

                        </div>
                        <!-- <div class="col-11 page-poster">
                            <img src="{{site.baseurl}}/assets/images/{{page.image}}" alt="{{page.title}}">
                        </div> -->
                        <div class="col-12 page-content">
                            <div class="page-content-title">
                                <h1>{{page.title}}</h1>
                            </div>
                            {{content}}
                        </div>
                        <div class="col-12 related-posts">
                            {% include v2/related-posts.html %}
                        </div>
                        <div class="col-12 page-comments">
                            {% include util/disqus.html %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 col-xl-4">
                    {% include v2/top-posts.html  %}
                </div>

            </div>
        </div>
    </div>
</div>

</div>


{% include v2/footer.html %}
</body>

</html>