{% include head.html %}
{% include nav.html %}

<!-- banner content -->


  <div id="index-banner" class="post-container valign-wrapper grey lighten-2">

	   <div class="container">
	    <div class="row">
	    	<div class="col s12">
	    		  <h1 class="valign post-head center grey-text bold">{{page.title}}</h1>
	    	</div>
	    	
	    </div>
	   </div>
   		
   </div> 
   </div>

   <div class="section content">
   		<div class="row">
   			<div class="col s12 m3 l3 ">
   				
   			<img class = "user " src="{{site.baseurl}}/{{page.imageURL}}">	
   			<h5 class=" user-name">{{page.author}}</h5>
   			<i class="user-social">@twitter</i>
   			<i class="user-social">@facebook</i>
   			<i class="user-social">@github</i>
   			</div>

   			<div class="col s12 m12 l7 "> {{ content }}</div>

   	<div class="col s12 m12 l2 "></div>

   </div>
 
    </div>
{% include footer.html %}

