{% include v2/head.html %}
{% include v2/header.html %}

<div class="container-fluid">

        <div class="row pt-xs-5 pt-sm-2 pt-lg-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 h-100  menu-component ">
                        {% include v2/sidenav.html %}
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-10 content-component">
                        <div class="row ">
                                <div class="col-12 col-lg-7 col-xl-7 pl-lg-5 ">
                                        <div class="row page-component">

                                                <div class="col-12 page-content">
                                                        <div class="page-content-title">
                                                                <h1>PRIVACY POLICY</h1>
                                                        </div>
                                                {% include privacy/policy.html %}
                                                </div>
                                                
                                        </div>
                                </div>
                              

                        </div>
                </div>
        </div>
</div>

</div>


{% include v2/footer.html %}
</body>

</html>