{% include head.html %} {% include nav.html %}
<div class="section ">

  <div class="row ">
    <div class="col l4 s12 m8 xl4 offset-m2 hide-on-med-and-down">
      {% include toc/series.html currentCollection = site.postCollection %}

      {% include ads/homepage-adunit-vert-300-600.html %}
    </div>
    <div class="col s12 m8 l8 xl8 offset-m2 ">

      <!-- author -->
      <div class="row" style="margin-bottom: 0px;">
        <div class="col s12 m10 l0 xl12  ">
          <div class="row " style="margin-bottom: 0px;">
            <div class="col s12 m8 l6 xl6 ">
              <div class="row">
                <div class="col s4 m4 l3 xl2  ">
                  {% include util/insertDp.liquid name = page.author class = "user" %}

                </div>
                <div class="col s6 m8 l8 xl10  margin-top-1 ">
                  <a href="{{site.baseurl}}/about/{{page.author}}" class="grey-text  pt-sans-bold author" style="display: block; text-transform: capitalize;">
                    {{page.author }}
                  </a>
                  <a class="grey-text pt-sans datetime ">{{page.date | date: '%B %d, %Y'}}</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4 l6 xl2 hide-on-small-only  ">
              <div class="col s12 m12 l12 right  margin-top-2 ">
                <span class="grey-text right pt-sans-bold readtime">
                  {% include util/minRead.liquid content = page.content %} read
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- author -->

      <div class="row content" style="padding-top: 0px;">
        <div class="col s12 m12 l10 xl8 ">
          <h2 class="valign post-head center black-text pt-sans-bold">{{page.title}}</h2>
        </div>
        <div class=" content-text col s12 m12 l10 xl8 ">{{ content }}</div>
      </div>
      <div class="row">
        <div class="col s12 m12 hide-on-large-only">
          {% include toc/series-bottom.html currentCollection = site.postCollection %}
        </div>
      </div>
      <!-- comments -->
      <div class="row">
        <div class=" col s12 m12 l10"> {% include util/disqus.html %}</div>
      </div>
      <!-- end -->
    </div>

  </div>

 
  {% include footer.html %}