<!-- banner content -->
  <div id="index-banner" class=" grey lighten-3" style=" box-shadow: 0 0 1px 0 #DEDADA;">
   <div class="section " style="padding-top: 4rem;" >
      
	        <div class="container  ">
				 <div class="row ">	
				 {% assign sortedR = site.postCollection | sort: 'date' | reverse %}
                   {% for page in sortedR | reverse | limit:1 %}
                  
                 
					<div class="col s12 m8 recent-article  ">
						<div class="row col s12 m12 l12 ">
							<h6 class="banner-subheading"> Read the latest Post from 
								<span class="teal-text text-darken-3 pt-sans">{{page.category}}</span>
								<span class="grey-text pt-sans-bold center timeToRead" >
								{% include util/minRead.liquid content= page.content  %} read
							</span>
							</h6>


						</div>
						<div class="row col s12 m12 l12 ">
							<div class="icon-block ">

							<a href ="{{site.baseurl}}{{page.url}}" class="title pt-sans-bold  black-text ">{{page.title}}
							
							</a>

							<p class=" black-text margin-top-2 pt-sans font-2">{{page.meta}} 
							 <a href ="{{site.baseurl}}{{page.url}}" class="teal-text" > ... read more </a>
							
							</p>

						</div>
						</div>
					</div>
                  
					{% endfor %}
					 <div class="col s12 m4 recent-article border">
						{% include ads/allPost-adunit-resp.html %}

					</div>

				  </div>
				</div>
	    </div>
   </div>
    