<!-- banner content -->
  <div id="index-banner" class=" grey lighten-3" style=" box-shadow: 0 0 1px 0 #DEDADA;">
   <div class="section " style="padding-top: 4rem;" >
      
	        <div class="container  ">
				 <div class="row ">	
                   {% for page in site.postCollection | limit: 1 %}
                  
                 
					<div class="col s12 m8 recent-article  ">
						<div class="row col s12 m12 l12 ">
							<h6 class="banner-subheading"> Recent from 
								<a href="{{site.baseurl}}/posts/code">
									<span class="catagory-links">code</span>
								</a>
								<span class="grey-text pt-sans-bold center timeToRead" >
								{% include util/minRead.liquid content= page.content  %} read
							</span>
							</h6>


						</div>
						<div class="row col s12 m12 l12 ">
							<div class="icon-block ">

							<a href ="{{site.baseurl}}{{page.url}}" class="title pt-sans-bold  black-text ">{{page.title}}
							
							</a>

							<p class=" black-text margin-top-2 pt-sans font-2">{{page.meta}} 
							 <a href ="{{site.baseurl}}{{page.url}}" class="teal-text" > ... read more </a>
							
							</p>

						</div>
						</div>
					</div>
                  
					{% endfor %}
					 <div class="col s12 m4 recent-article ">
						<div class="section " >
				
						<a class="twitter-timeline"
						 href="https://twitter.com/shaykhslog"
						 data-width="300"
  						 data-height="400"
						 >Latest tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>

					</div>

				  </div>
				</div>
	    </div>
   </div>
    