
<div class="{{include.bgColor }} " id="allPosts">
<div class="container">

  <div class="row">
  
	<div class="col s12 m3 l3 right   border-bottom-dotted" style="line-height: 2rem; margin-top: 2rem;">
		 <a href = "{{ include.url | prepend: site.baseurl }}" class=" {% include util/textColor.liquid %} right pt-sans sub_heading" >{{include.label}} <i class="material-icons" style="font-size: 12px;">forward</i></a>
	 </div>


  </div>

<div class="row">
<div class="col s12 m12 xl12 padding-bot-2">

{% assign cc = {{include.cc }} %}
{% for post in cc limit:5 %}
 <div class="col s12 m4 xl3">
 		
<div class="card hoverable  medium " id='top-card'>
	<div class="{{post.bannercolor}} card-chip">
		<a href="{{site.baseurl}}/about/{{post.author}}">
			<div class="chip cchip pt-sans">
				{% include util/insertDp.liquid name = post.author  %}
				{{post.author}}
			</div>
		</a>
	</div>
	<div class="card-deck  valign-wrapper {{post.bannercolor}}">
		<a class="card-title valign pt-sans-bold white-text" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
	</div>
	<div class="card-content pt-sans black-text">
		<p>{{post.meta}}</p>
	</div>
	<div class="card-actions">
		<a >{% include util/minRead.liquid content= post.content  %} read</a>
	</div>

</div>  
	   
 </div>
{% endfor %}
</div>
</div>
</div>
</div>
