<div class="container" id="topPosts">

<div class="row">

  <div class="col s12 m8"> <!--wraper on lleft -->

{% for collection in site.collections %}
{% assign colsname  = collection.label  %}
{% if colsname != 'authors'%} 
{% assign items = site.[colsname] | sort: 'date' | reverse %}
{% for post in items limit: 5 %}
 
  <div class="section box white"  >

    <div class="row">
    <div class="col s12 m12 post-meta">
     <a class="teal-text text-darken-3 pt-sans author" href="{{site.baseurl}}/about/{{post.author}}">  {{post.author}}</a>  <span class="grey-text text-darken-4 pt-sans author"> has posted in </span> <span class="teal-text text-darken-3 pt-sans" >{{post.category}}</span>
     <span class="grey-text text-darken-4 pt-sans right timeToRead" >{% include util/minRead.liquid content= post.content  %}  read</span>
      <span class="grey-text text-darken-4 pt-sans datetime" style="display: block;">{{post.date | date: '%B %d, %Y'}}</span>
      
      
    </div>
      <div class="col s12 m12 top-article">
        <div class="icon-block">
          <a href ="{{site.baseurl}}{{post.url}}" class="title pt-sans-bold  black-text ">{{post.title}}
          
          </a>
          <p class=" black-text margin-top-2 pt-sans font-2">{{post.meta}} 
             <a href ="{{site.baseurl}}{{post.url}}" class="teal-text" > ... read more </a>
          </p>
        </div>
      </div>
      </div>

    </div>
  {% endfor %}
  {% endif %}
  {% endfor %}


  </div><!--wraper on lleft -->
 
  </div>

</div>